<script type="text/javascript">
//<![CDATA[

var web_timeout = 0;

function WebResetTimer()
{
	$.get("resettm.html");
	clearTimeout(web_timeout);
	web_timeout = setTimeout("XLogout();", top.XWebTimeout*1000);
}

function XLogout()
{
	$.post("/GponForm/LogoutForm","logout",function(){
        top.window.location.href = "logout.html";
	});	
}

function InitForm(page)
{
	$("#XWebPageName").val(page);
	$("#XForm").attr("action", "/GponForm/" + page + "_XForm");
}

function XDoSubmit()
{
	WebDoSubmit();
}

$(function () {
	if (window.top == window.self) {
		window.top.location.href = "index.html";
		return;
	}	 
	
	web_timeout = setTimeout("XLogout();", top.XWebTimeout*1000);
	InitForm(top.CurSubMenu);
	WebCreatMenu();
	WebLoadString();
	WebInit();
	$("input:password").attr("autocomplete","off");
	
	$("#btn_logout").click(function(){
	    $.post("/GponForm/LogoutForm","logout",function(){
            top.window.location.href = "logout.html";
	    });
	});
	
});

	window.history.forward(1);

//]]>
</script>
</head>
<body>
<form id="GForm" name="GForm" method="post" action="/GponForm/LogoutForm">
</form>
<form id="XForm" name="XForm" method="post" action="">
<input id="XWebPageName" name="XWebPageName" type="hidden" value="" />
<div id="wrapper">
	<div id="header">
		<h1><a id="logo"><img src="images/logo.png"/></a></h1>
		<div id="header_right">
			<table><tr><td><h2 id="device_name"></h2>
			<a href="#" class="btn" id="btn_logout"><script type="text/javascript">document.write(WebString.Logout);</script></a></td></tr></table>
		</div>
		<ul id="main_menu">
		</ul>
	</div>
	<div id="content_left">
		<ul id="sub_menu">
		</ul>
	</div>
	<div id="content_right">
		<h1 id="content_title"></h1>
		<div id="cfgarea">
