<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="utf-8" lang="utf-8" dir="ltr">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<script language="Javascript" src="../script/jquery.js" type="text/javascript"></script>
<script language="Javascript" src="../script/common.js" type="text/javascript"></script>
<script language="Javascript" src="../script/menu.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript" src="../script/lang_en.js"></script>
<link href="../style/ont.css" rel="stylesheet" type="text/css" />

<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

var Inform = "0";
var InformInterval = "43200";
var AcsURL = "";
var AcsUser = "";
var AcsPwd = "";
var ConnReqUser = "";
var ConnReqPwd = "";
var CurMainMenu = 7;

<% TR069_GetConfig(); %>

function doInformEn()
{
	var enable = $("#inform0").attr("checked");
	if (enable == "checked") {
		$("#inform_interval").show();
	} else {
		$("#inform_interval").hide();
	}
}

function WebInit()
{
	$("#acsurl").val(AcsURL);
	$("#acsuser").val(AcsUser);
	$("#acspwd").val(AcsPwd);
	$("#connrequser").val(ConnReqUser);
	$("#connreqpwd").val(ConnReqPwd);
	$("#informinterval").val(InformInterval);
	if (Inform == '1')
		$("#inform0").attr("checked", true);
	else
		$("#inform1").attr("checked", true);
		
	doInformEn();
	WebStepIndex();
}

function XDoSubmit()
{
	$("#XForm").submit();
}

$(document).ready(function () {
	$("input").css("ime-mode","disabled");
	$("input[name='inform']").click(function() {
        doInformEn();
    });
	//$("#btn_apply").click(function() {
    //   XDoSubmit();
    //});
});

//]]>
</script>
</head>
<body onload="WebInit();">
<form id="GForm" name="GForm" method="post" action="/GponForm/LogoutForm">
</form>

<form id="XForm" name="XForm" method="post" action="/GponForm/tr069_XForm">
	<input id="XWebPageName" name="XWebPageName" type="hidden" value="tr069/tr069" />
<div id="wrapper">
	<div id="header">
		<h1><a id="logo"><img src="../images/logo.png"></a></h1>
		<div id="header_right">
			<table>
			<tbody>
			<tr>
				<td><h2 id="device_name">Home Gateway</h2>
					<a id="btn_logout" class="btn" href="#">
					<script type="text/javascript">document.write(WebString.Logout);</script></a>
				</td>
			</tr>
			</tbody>
			</table>
		</div>

		<ul id="main_menu" style="width: 425px; padding-left: 32px; padding-right: 32px;">
			<li id="mm7" class="m1_support">
				<a class="selected" href="../tr069/tr069.html"><span>Support Console</span></a>
			</li>
		</ul>
</div>
	
	
<div id="content_left">
	<ul id="sub_menu" class="sub_menu">
	<li id="tr069">
		<a class="selected" href="../tr069/tr069.html">TR 069</a>
	</li>
	<li id="devinfo">
		<a class="" href="../devinfo.html">Device Status</a>
	</li>
	</ul>
</div>
	<div id="content_right">
		<h1 id="content_title"></h1>
		<div id="cfgarea">

 <div class="cfgstep">
	<p><strong id="XS0">1. Configure periodic inform.</strong></p>
	<table>
		<tr>
			<td id="XS1" width="200">Periodic Inform</td>
			<td><input type="radio" name="inform" id="inform0" value="1"  /><script>document.write(WebString.Enable);</script>&nbsp;&nbsp;
				<input type="radio" name="inform" id="inform1" value="0"  /><script>document.write(WebString.Disable);</script></td>
		</tr>
		<tr id="inform_interval">
			<td id="XS2" width="200">Periodic Inform Interval</td>
			<td><input type="text" name="informinterval" id="informinterval" maxlength="5" size="6" style="ime-mode: disabled;" onkeypress="return OnKeyPress(event, X_INPUT_NUM);"  />
				<script>document.write(WebString.seconds);</script></td>
		</tr>
	</table>
</div>
  		
<div class="cfgstep">
	<p><strong id="XS3">2. Enter ACS connection parameters.</strong></p>
	<table>
		<tr>
			<td id="XS4" width="200">ACS URL</td>
			<td><input type="text" name="acsurl" id="acsurl" maxlength="128" size="46"  /></td>
		</tr>
		<tr>
			<td id="XS5">Username </td>
			<td><input type="text" name="acsuser" id="acsuser" maxlength="31" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_ID);"  /></td>
		</tr>
		<tr>
			<td id="XS6">Password</td>
			<td><input type="password" name="acspwd" id="acspwd" maxlength="31" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_PASSWD);"  /></td>
		</tr>
		<tr>
			<td id="XS7">Connect Request Username</td>
			<td><input type="text" name="connrequser" id="connrequser" maxlength="31" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_ID);"  /></td>
		</tr>
		<tr>
			<td id="XS8">Connect Request Password</td>
			<td><input type="password" name="connreqpwd" id="connreqpwd" maxlength="31" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_PASSWD);"  /></td>
		</tr>
	</table>
</div>

<div class="cfgstep" >
	<p><strong><script>document.write(WebString.stepApply);</script></strong></p>
	<a id="btn_apply" class="btn_gray" href="#"><script>document.write(WebString.Apply);</script></a>
</div>

<% PrintTemplate3(); %>
