<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

var wanConfig = new Array();
var bridge = new Array();
var FiltersData = new Array();
var num_con = 0;
var MAX_NUM = 8;
var wan_num = 0;
var legalbrgportmap = 0;
var portmap_f = 0;

<% GetWanNum(); %>
<% Bridge_GetConfig(); %>

function showBridgeList()
{
    for (i=0; i<num_con; i++)
    {
        var index = wanConfig[i].index;
        var idx = parseInt(index)+1;
        var mode = (parseInt(wanConfig[i].bridge))?"Bridge":"Route";
        var mm = (parseInt(wanConfig[i].bridge))?"B":"R";
        var service = parseInt(wanConfig[i].service);
        var serv = "_";
        if (service & 0x4)
            serv = serv + "INTERNET_";
        if (service & 0x2)
            serv = serv + "TR069_";
        if (service & 0x1)
            serv = serv + "VOIP_";
        if (service & 0x8)
            serv = serv + "IPTV_";
            
        var vlan = wanConfig[i].vlan_id;
        var name = idx.toString() + serv + mm + "_VID_" + vlan;
        var brgname = wanConfig[i].brgname;

        var con_en = (1 == wanConfig[i].enable) ? "Enable":"Disable";
        var stp_en = (1 == wanConfig[i].stp_en) ? "Enable":"Disable";
        var lanif = "";

        var j = 0;
        var brg = new Array();
        for(j = 0; j < wanConfig[i].fltcount; j++)
        {
            brg[j] = new InitFltEntryTable();
            for(var k = 0; k < bridge.length; k++)
            {            	  
                if((bridge[k].wid == wanConfig[i].index) && (bridge[k].Idx == j))
                {
                    brg[j].lanport = bridge[k].uniport;
                    brg[j].f_untag = bridge[k].filter;
                    brg[j].t_act = bridge[k].act;
                    brg[j].vlan = bridge[k].vlan;
                }
            }
        }
        for(var n = 0; n < brg.length; n++)
        {
            var lanport = "";
            for(var j = 0; j < port_val.length; j++)
            {
                if(parseInt(brg[n].lanport) == parseInt(port_val[j]))
                lanport = lanPorts[j];
            }
            var flt_str ="";
            if(1 == brg[n].f_untag)
            {
                if( 4096 == brg[n].vlan)
                    flt_str ="Untag | All VLAN"; 
                else if(2 == brg[n].t_act)
                    flt_str ="Untag" ; 
                else
                    flt_str ="Untag | VLAN" + brg[n].vlan; 
            }
            else
            {
                if( 4096 == brg[n].vlan)
                    flt_str ="All VLAN"; 
                else if(2 != brg[n].t_act)
                    flt_str ="VLAN" + brg[n].vlan; 
                else
                    flt_str =""; 
            }
            if(n == brg.length - 1)
            {
                if("" != flt_str)
                    lanif += flt_str + "@" + lanport;
                else
                    lanif += lanport;
            }
            else
            {
                if("" != flt_str)
                    lanif += flt_str + "@" + lanport + ",";
                else
                    lanif += lanport;
            }
        }

        //$("#bridge_list").append("<tr><td>"+lanif+"<\/td><td>"+name+"<\/td><td>"+con_en+"<\/td><td>"+stp_en+"<\/td><td>"+brgname+"<\/td><\/tr>");
        $("#bridge_list").append("<tr><td>"+brgname+"<\/td><td>"+con_en+"<\/td><td>"+stp_en+"<\/td><td>"+lanif+"<\/td><\/tr>");
    }
}

function showLanPortList()
{
    var str = "";
    for( var i = 0; i < lanPorts.length; i++ ) {
        if (parseInt(legalbrgportmap) & (1<< port_val[i]))
        {
            str += "<option value=" + port_val[i] + ">" + lanPorts[i] + "</option>";
            portmap_f = 1;
        }
    }
    $("#lanport_list").html(str);
}

function showTrafficActionOpt()
{
    var str = "";
    var vlan_mode = 0;
    
    var wid = $("#wan_list").val();    
    for (i=0; i<num_con; i++)
    {
    	if(wid == wanConfig[i].index)
    	{
    	    vlan_mode =  wanConfig[i].vlan_mode;
    	    break;
    	}
    }
    
    if((($("#iptv_srv").attr("checked")) && (2 != vlan_mode)) ||
    	(0 == vlan_mode))
    {
        str += "<option value=1>" + XbrgString[51] + "</option>";
        str += "<option value=2>" + XbrgString[41] + "</option>";
    }
    else if (2 == vlan_mode)
    {
        str += "<option value=1>" + XbrgString[40] + "</option>";
        str += "<option value=2>" + XbrgString[41] + "</option>";  
    }
    else
    {
        str += "<option value=0>" + XbrgString[39] + "</option>";
        str += "<option value=1>" + XbrgString[40] + "</option>";
        str += "<option value=2>" + XbrgString[41] + "</option>";    	
    }
    
    $("#traffic_act").html(str);
    $("#traffic_act").attr("disabled", false); 
    trafficActionChanged();
}

function showWanList()
{
    $("#wan_list option:first").remove();
    for (i=0; i<num_con; i++)
    {
        var index = wanConfig[i].index;
        var idx = parseInt(index)+1;
        var mode = "B";
        var service = parseInt(wanConfig[i].service);
        var serv = "_";
        if (service & 0x4)
        serv = serv + "INTERNET_";
        if (service & 0x2)
        serv = serv + "TR069_";
        if (service & 0x1)
        serv = serv + "VOIP_";
        if (service & 0x8)
        serv = serv + "IPTV_";
        var vlan = wanConfig[i].vlan_id;
        var name = idx.toString() + serv + mode + '_VID_' + vlan;
        //$("#wan_list").append("<option value="+index+">"+name+"<\/option>");
        $("#wan_list").append("<option value="+index+">"+wanConfig[i].brgname+"<\/option>");
    }
    
    if (wan_num < MAX_NUM)
    {
        //$("#wan_list").append("<option value=\"100\">"+XwanString[2]+"<\/option>");
        $("#wan_list").append("<option value=\"100\">"+XbrgString[49]+"<\/option>");
    }
}

function trafficFilterTableFresh()
{
    var TR = "";
    TR += '<table class="commonlist">\n';
    TR += '<tr>\n';
    TR += '<th>' + XbrgString[42] + '</th>\n';
    TR += '<th>' + XbrgString[36] + '</th>\n';
    TR += '<th>' + XbrgString[37] + '</th>\n';
    TR += '<th>' + WebString.Edit + '</th>\n';
    TR += '</tr>\n';
    var post_str = "";   
    for(var i = 0; i < FiltersData.length; i++)
    {
        post_str += FiltersData[i].lanport + "|";
        post_str += FiltersData[i].f_untag + "|";
        post_str += FiltersData[i].t_act + "|";
        post_str += FiltersData[i].vlan + "~";
        var lanport = "";
        
        for(var j = 0; j < port_val.length; j++)
        {
          if(parseInt(FiltersData[i].lanport) == parseInt(port_val[j]))
            lanport = lanPorts[j];
        }
        var flag = (1 == FiltersData[i].f_untag) ? "True":"False";
        var flt_str ="";
        if(1 == FiltersData[i].f_untag)
        {
            if( 4096 == FiltersData[i].vlan)
                flt_str ="Untag | All VLAN"; 
            else if( 2 != FiltersData[i].t_act)
                flt_str ="Untag | VLAN" + FiltersData[i].vlan; 
            else
                flt_str ="Untag"; 
        }
        else
        {
            if( 4096 == FiltersData[i].vlan)
                flt_str ="All VLAN"; 
            else if( 2 != FiltersData[i].t_act)
                flt_str ="VLAN" + FiltersData[i].vlan; 
            else
                flt_str =""; 
        }
        
        TR += '<tr>\n';
        TR += '<td>' + lanport + '</td>\n';
        TR += '<td>' + flag + '</td>\n';
        TR += '<td>' + flt_str + '</td>\n';
        TR += '<td><a href="#" class="btn remove_btn" onclick="DeleteEntrySelected(this);" >' + WebString.Remove + '</a></td>';
        TR += '</tr>\n'; 
    }

    TR += '</table>\n';
    $("#trafficFilterTableContainer").html(TR);
    $("#filterEntryTable").val(post_str);
}

function DeleteEntrySelected(r)
{
    WebResetTimer();

    var row = r.parentNode.parentNode.rowIndex;
    for (var i = row-1; i < FiltersData.length; i++ )
    {
        FiltersData[i] = FiltersData[i+1];
    }
    FiltersData.pop();
    trafficFilterTableFresh();
}

function doWanList()
{
    var selIndex = $("#wan_list").val();
    
    if (selIndex == 100) {
        $("#btn_add").show();
        $("#btn_modify").hide();        
        $("#add_entry").removeClass("btn").addClass("btn_gray");
        $("#btn_apply").removeClass("btn").addClass("btn_gray");
    } else {
        $("#btn_add").hide();
        $("#btn_modify").show();
        $("#add_entry").removeClass("btn_gray").addClass("btn");
        $("#btn_apply").removeClass("btn_gray").addClass("btn");
    }
}

function pushFilterEntry(untag, act, vlan)
{
    for(var i = 0; i < bridge.length; i++)
    {
    	  //The same uni on differ bridge should belong to differ vlan
        if(($("#lanport_list").val() == bridge[i].uniport)&&(vlan == bridge[i].vlan || vlan == 4096 || bridge[i].vlan == 4096))
        {
            alert(WebString.brg_rule_conflict);
            return false;
        }
    }
    
    var obj = new Object();
    obj.lanport = $("#lanport_list").attr("value");
    obj.f_untag = untag;
    obj.t_act = act;
    obj.vlan = vlan;
    FiltersData.push(obj);
    trafficFilterTableFresh();
}

function FilterEntryBind()
{
    var vlan_id = 0;
    var f_untag = 1;
    var same_vlan_flag = 0;
    var enable = $("#fut_en").attr("checked");
    var selIndex = $("#wan_list").val();
    var lan_port = $("#lanport_list").val();
    var t_action = $("#traffic_act").attr("value");
    
    if( 0 == portmap_f || selIndex == 100 )
    {
        alert(WebString.rule_bind_fail);
        return false;
    }
    
    if(FiltersData.length >= 32)
    {
        alert(WebString.max_filter_num);
        return false;
    }
    
    if (enable != "checked")
        f_untag = 0;
    
   
    //check if one untag port bind to multiple BRIDGE.
    if(f_untag != 0)
    {
        for (var i = 0; i < wanConfig.length; i++)
        {
            if (selIndex != wanConfig[i].index) //match other WAN
            {
                for(var j = 0; j < wanConfig[i].fltcount; j++)	
                {
                    for(var k = 0; k < bridge.length; k++)
                    {
                        if((bridge[k].wid == wanConfig[i].index) && (bridge[k].Idx == j))
                        {
                            if(bridge[k].uniport == lan_port && bridge[k].filter != 0) //one LAN with UNTAG bind with two WAN matched.
                            {
                                alert(WebString.brg_untag_multi_bind);
                                return false;
                            }
                        }
                    }
                }
            }
        }
    }
    
    for(var i = 0; i < FiltersData.length; i++)
    {
    	  //One uni can be set one time on a bridge
        if($("#lanport_list").val() == FiltersData[i].lanport)
        {
            alert(WebString.brg_rule_exist);
            return false;
        }
    }

    if("1" == t_action)  //vlan as 1,2,3
    {
        var n = 0;
        var vlanstr = $("#vlan_id").attr("value");
        
        for (var i = 0; i < vlanstr.length; i++)
        {
        	  var asciiNumber = vlanstr.substr(i, 1).charCodeAt();
            if(asciiNumber == 44)   // char ',' 
            {
                n++;  //vlan number;
                
                //if iptv service enable,',' is an invalid input character
                if($("#iptv_srv").attr("checked")) 
                {
                    alert(WebString.brg_vlan_valid);
                    return false;
                }
            }
        }
        
        if(parseInt(FiltersData.length + n) >= 32)
        {
            alert(WebString.max_filter_num);
            return false;
        }
        
        var vlan = vlanstr.split(',');
        if("" == vlan[n])
        {
            alert(WebString.brg_invlid_vlanstr);
            return false;
        }
        for(var i = 0; i < n+1; i++)
        {
            vlan_id = parseInt(vlan[i]);            

            if( vlan_id > 4094 || vlan_id < 1)
            {
                alert(WebString.vlan_invalid);
                return false;
            }
            
            //if the same vlan id exsit, ignore it
            same_vlan_flag = 0;
            for(var j = 0; j < i; j++)
            {
                if(vlan[i] == vlan[j])
                {                   
                    same_vlan_flag = 1;
                    break;	
                }	
            }
            if(1 == same_vlan_flag) continue;

            pushFilterEntry(f_untag, t_action, vlan_id);
        }
    }
    else
    {
        if("0" == t_action)
            vlan_id = 4096;
        else 
            vlan_id = 0;
          
        pushFilterEntry(f_untag, t_action, vlan_id);
    }
    
}

function InitFltEntryTable()
{
    this.lanport;
    this.f_untag;
    this.t_act;
    this.vlan;
}

function doSetVal()
{
    var selIndex = $("#wan_list").val();
    var i = 0;
    for (i = 0; i < wanConfig.length; i++)
    {
        if (selIndex == wanConfig[i].index)
        {
            selIndex = i;
            break;
        }
    }
    if (selIndex < num_con)
    {        
        if(1 == wanConfig[selIndex].enable)
            $("#wan_en").attr("checked", true);
        else  
            $("#wan_en").attr("checked", false);
            
        if(1 == wanConfig[selIndex].stp_en)
            $("#stp_en").attr("checked", true);
        else  
            $("#stp_en").attr("checked", false);

        if(0 != wanConfig[selIndex].iptv_srv)
            $("#iptv_srv").attr("checked", true);
        else  
            $("#iptv_srv").attr("checked", false);

        var j = 0;
        for(j = 0; j < wanConfig[selIndex].fltcount; j++)	
        {
            FiltersData[j] = new InitFltEntryTable();
            for(var k = 0; k < bridge.length; k++)
            {
                if((bridge[k].wid == wanConfig[selIndex].index) && (bridge[k].Idx == j))
                {
                    FiltersData[j].lanport = bridge[k].uniport;
                    FiltersData[j].f_untag = bridge[k].filter;
                    FiltersData[j].t_act = bridge[k].act;
                    FiltersData[j].vlan = bridge[k].vlan;
                }
            }
        }
        FiltersData.length = wanConfig[selIndex].fltcount;
    }
    trafficFilterTableFresh();
}

function WebInit()
{
    showLanPortList(); 
    showWanList();
    doWanList();
    doSetVal();    
    trafficFilterTableFresh();
    showBridgeList();
    showTrafficActionOpt();
    
    var selIndex = $("#wan_list").val();
    if( 0 != portmap_f && selIndex != 100)
        $("#add_entry").removeClass("btn_gray").addClass("btn");
    else
        $("#add_entry").removeClass("btn").addClass("btn_gray");
    	  
    WebStepIndex(); 
}

function docheckValue()
{    
    return true;
}

function WebDoSubmit()
{
    if (false == docheckValue())
    {
        return;
    }
    if($("#wan_en").attr("checked"))
    $("#wan_en").val(1);
    else
    $("#wan_en").val(0);

    if($("#stp_en").attr("checked"))
    $("#stp_en").val(1);
    else
    $("#stp_en").val(0);
    $("#XForm").submit();
}

function lanPortSelChanged()
{
    if($("#lanport_list").val() >= 16)
    {	
        $("#traffic_act").attr("disabled", true);
        $("#traffic_act").val("2");
        $("#fut_en").attr("disabled", true);
    }
    else
    {
        $("#traffic_act").attr("disabled", false);
        $("#fut_en").attr("disabled", false);
    }

    trafficActionChanged();
}

function trafficActionChanged()
{
    if(0 == $("#traffic_act").val())
    {
        $("#vlan_id").hide();
        $("#example1").hide();
        $("#example2").hide();
        $("#vlan_id").val(4096);
        $("#fut_en").attr("checked", false);
    }
    else if(1 == $("#traffic_act").val())
    {
        $("#fut_en").attr("checked", false);
        $("#vlan_id").show();
        $("#vlan_id").val(""); 
        if(!$("#iptv_srv").attr("checked")) 
        {
            $("#example1").show();  
            $("#example2").hide(); 
        }
        else
        {
            $("#example2").show();  
            $("#example1").hide();
        }
    }
    else
    { 
        $("#vlan_id").hide();
        $("#example1").hide();
        $("#example2").hide();
        $("#vlan_id").val(0); 
        $("#fut_en").attr("checked", true);
    }
}

function untagTrafficChanged()
{
    var enable = $("#fut_en").attr("checked");
    if (enable == "checked")
    {
        $("#traffic_act").val("2");
        trafficActionChanged();
    }
}

$(document).ready(function () {

    $("#wan_list").change(function() {
        doWanList();
        doSetVal();
    });
    
    $("#btn_add").click(function() {
        top.wanConnModifyIdx = -1;
    });

    $("#btn_modify").click(function() {
        top.wanConnModifyIdx = $("#wan_list").val();
    });
    
    $("#iptv_srv").click(function(){
        showTrafficActionOpt();
    }); 

    $("#add_entry").click(function(){
        FilterEntryBind();
    }); 
    
    $("#lanport_list").change(function() {
        lanPortSelChanged();
    });

    $("#fut_en").change(function() {
        untagTrafficChanged();
    });
    
    $("#traffic_act").change(function() {
        trafficActionChanged();
    });    
    
    $("#btn_apply").click(function(){
        XDoSubmit();
    });
});

//]]>
</script>
<% PrintTemplate2(); %>

<div class="cfgstep">
    <p><strong id="XS0"></strong></p>
    <table>
        <tr>
            <td width="200" id="XS1"></td>
            <td>
                <select name="wan_list" id="wan_list"  class="wan_list">
                    <option value="0" id="XS49"></option>
                </select>
                <a id="btn_add" class="btn" href="brgwancreate.html"><script type="text/javascript">document.write(WebString.Add);</script></a>
                <a id="btn_modify" class="btn" href="brgwancreate.html"><script type="text/javascript">document.write(WebString.Modify);</script></a>
            </td>
        </tr>
        <tr>
            <td>
                <script>document.write(WebString.Enable);</script>
            </td>
            <td>
                <input name="wan_en" id="wan_en" type="checkbox" value="1" checked="checked"/>
            </td>
        </tr>
        <tr>
            <td id="XS3"></td>
            <td>
                <input name="stp_en" id="stp_en" type="checkbox" value="1" checked="checked"/>
            </td>
        </tr>
        <!--tr>
            <td width="200" id="XS50"></td>
            <td>
                <input name="iptv_srv" id="iptv_srv" type="checkbox"/>
            </td>
        </tr-->
    </table>
</div>

<div class="cfgstep">        
    <p><strong id="XS34"></strong></p>
    <table>
        <tr>
            <td width="200" id="XS35"></td>
            <td>
                <select name="lanport_list" id="lanport_list" >
                </select>
            </td>
        </tr>
        <tr>
            <td width="200" id="XS36"></td>
            <td>
                <input name="fut_en" id="fut_en" type="checkbox" checked="checked"/>
            </td>
        </tr>
        <tr>
            <td width="200" id="XS37"></td>
            <td>
                <select name="traffic_act" id="traffic_act" />
                <!--option value="0" id="XS39"></option>
                <option value="1" id="XS40"></option>
                <option value="2" id="XS41"></option-->
                </select>
                <input id="vlan_id" name="vlan_id" value=""  onkeyup="value=value.replace(/[^\d,]/g, '')" />
                <label id="example1" style="display:none">(e.g. 1/1,2,3...)</label>
                <label id="example2" style="display:none">(e.g. 100)</label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span id="XS38"></span>
                <a id="add_entry" name="add_entry" class="btn" href="#"><script>document.write(WebString.Add);</script></a>
                <input id="filterEntryTable" name="filterEntryTable" type="hidden" value=""  />
            </td>
        </tr> 
    </table> 
    <div id="trafficFilterTableContainer"></div>   
</div>

<div class="cfgstep">
    <p><strong><script>document.write(WebString.stepApply);</script></strong></p>
    <a id="btn_apply" class="btn" href="#"><script>document.write(WebString.Apply);</script></a>
</div> 

<div class="cfglist">
<table id="bridge_list">
    <tr>
        <th colspan="4" class="tableTitle" id="XS44"></th>
    </tr>
    <tr>       
        <th id="XS48" style="width:20%"></th>
        <th style="width:20%"><script>document.write(WebString.Enable);</script></th>
        <th id="XS47" style="width:20%"></th>        
        <th id="XS45" style="width:40%"></th>
    </tr>
</table>  
</div>

<% PrintTemplate3(); %>
