<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

<% VOIP_GetH248Config("h248basic"); %>

function WebDoSubmit()
{
	$("#XForm").submit();
}

function WebInit()
{
	if($("#h248_mid_type").val() == 1)
	{
		$("#mid_domain").show();
	}
	else
	{
		$("#mid_domain").hide();
	}
	
	WebStepIndex();
}

$(document).ready(function(){
	
	$("#phy_tid_prefix").val(phy_tid_prefix);
	$("#pots1_term_id").val(pots1_term_id);
	$("#pots2_term_id").val(pots2_term_id);
	$("#rtp_tid_prefix").val(rtp_tid_prefix);
	$("#rtp_tid_uniform").get(0).checked = (parseInt(rtp_tid_uniform) == 1)?false:true;
	$("#rtp_tid_len").val(rtp_tid_len);
	$("#rtp_tid_sv").val(rtp_tid_sv);
	$("#pri_mgc_addr").val(pri_mgc_addr);
	$("#sec_mgc_addr").val(sec_mgc_addr);
	$("#h248_mid_type").val(h248_mid_type);
	$("#h248_mid_domain").val(h248_mid);
	if(POTS_NUM > 1)
	{
		$("#pots_2").show();
	}
	else
	{
		$("#pots_2").hide();
	}
	$("#h248_mid_type").change(function(){
		WebInit();
	});

	$("#btn_apply").click(function(){
		if(($("#pots1_term_id").val().length == 0) || ($("#pots2_term_id").val().length == 0))
		{
			alert(WebString.h248_term_id);
			return false;
		}
		if($("#pots1_term_id").val() == $("#pots2_term_id").val())
		{
			alert(WebString.h248_term_sameid);
			return false;
		}
		if(parseInt($("#rtp_tid_len").val()) > 5 || parseInt($("#rtp_tid_len").val()) < 1)
		{
			alert(WebString.rtp_tid_len);
			return false;
		}
		if(parseInt($("#rtp_tid_sv").val()) > 9 || parseInt($("#rtp_tid_sv").val()) < 0)
		{
			alert(WebString.rtp_tid_sv);
			return false;
		}
		
		XDoSubmit();
	});
});

//]]>
</script>
<% PrintTemplate2(); %>

<div class="cfgstep">
	<p><strong id="XS0"></strong></p>
	<table>
		<tr>
			<td width="200" id="XS1"></td>
			<td colspan="2">
				<input id="phy_tid_prefix" name="phy_tid_prefix" type="text" maxlength="49" onkeypress="return OnKeyPress(event, X_INPUT_ID);" /> 
			</td>
		</tr>
		<tr>
			<td>
				<ul style="font-weight:bold" width="200"><script>document.write(WebString.pots_if);</script></ul>
				<ul style="padding-top:10px" width="200" id="XS2"></ul>	
			</td>
			<td id="pots_1">
				<ul style="font-weight:bold"><script>document.write(WebString.pots1);</script></ul>
				<ul style="padding-top:10px">
					<input id="pots1_term_id" name="pots1_term_id" type="text" maxlength="64" onkeypress="return OnKeyPress(event, X_INPUT_PHONENUM);" />
				</ul>
			</td>
			<td id="pots_2">
				<ul style="font-weight:bold"><script>document.write(WebString.pots2);</script></ul>
				<ul style="padding-top:10px">
					<input id="pots2_term_id" name="pots2_term_id" type="text" maxlength="64" onkeypress="return OnKeyPress(event, X_INPUT_PHONENUM);" />
				</ul>
			</td>
		</tr>
	</table>
</div>

<div class="cfgstep">
	<p><strong id="XS11"></strong></p>
	<table>
		<tr>
			<td width="200" id="XS3"></td>
			<td colspan="2">
				<input id="rtp_tid_prefix" name="rtp_tid_prefix" maxlength="49" type="text" onkeypress="return OnKeyPress(event, X_INPUT_ID);" />
			</td>
		</tr>
		<tr>
			<td width="200" id="XS4"></td>
			<td colspan="2">
				<input id="rtp_tid_uniform" name="rtp_tid_uniform" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td width="200" id="XS5"></td>
			<td colspan="2">
				<input id="rtp_tid_len" name="rtp_tid_len" type="text" maxlength="1" size="6" onkeypress="return OnKeyPress(event, X_INPUT_NUM);" />
			</td>
		</tr>
		<tr>
			<td width="200" id="XS6"></td>
			<td colspan="2">
				<input id="rtp_tid_sv" name="rtp_tid_sv" type="text" maxlength="1" size="6" onkeypress="return OnKeyPress(event, X_INPUT_NUM);" />
			</td>
		</tr>
	</table>
</div>

<div class="cfgstep">
	<p><strong id="XS12"></strong></p>
	<table>
		<tr>
			<td width="200" id="XS7"></td>
			<td>
				<input id="pri_mgc_addr" name="pri_mgc_addr" type="text" maxlength="64" onkeypress="return OnKeyPress(event, X_INPUT_URL);" />
			</td>
		</tr>
		<tr>
			<td width="200" id="XS8"></td>
			<td>
				<input id="sec_mgc_addr" name="sec_mgc_addr" type="text" maxlength="64" onkeypress="return OnKeyPress(event, X_INPUT_URL);" />
			</td>
		</tr>
		<tr>
			<td width="200" id="XS9"></td>
			<td>
				<select name="h248_mid_type" id="h248_mid_type">
					<option value="0" selected="selected">IP </option>
					<option value="1">Domain </option>
				</select>
			</td>
		</tr>
		<tr id="mid_domain">
			<td width="200" id="XS10"></td>
			<td>
				<input id="h248_mid_domain" name="h248_mid_domain" type="text" maxlength="64" onkeypress="return OnKeyPress(event, X_INPUT_URL);" />
			</td>
		</tr>
	</table>
</div>

<div class="cfgstep">
	<p><strong><script>document.write(WebString.stepApply);</script></strong></p>
	<a href="#" id="btn_apply" class="btn"><script>document.write(WebString.Apply);</script></a>
</div>

<% PrintTemplate3(); %>