<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

var pots1_codec = new Array;
var pots2_codec = new Array;

<% VOIP_GetMediaConfig(); %>


function WebDoSubmit()
{
	$("#XForm").submit();
}

function WebInit()
{
	$("#outbound").hide();
	if($("#oob_dtmf").val() == 1)
	{
		$("#outbound").show();
	}
	
	WebStepIndex();
}

$(document).ready(function(){
	
	// G711A(8), G711U(0), G729(18), G723(4)
	var i, obj;
	for (i = 0; i < pots1_codec.length; i++)
	{
		obj = "#pots1_codec" + pots1_codec[i].pri;
		$(obj).val(pots1_codec[i].codec);
		obj = "#pots2_codec" + pots2_codec[i].pri;
		$(obj).val(pots2_codec[i].codec);
	}
	
	$("#oob_dtmf").val(oob_dtmf);
	$("#dtms_events").val(dtms_events);
	
	$("#oob_dtmf").change(function(){
		WebInit();
	});

	$("#btn_apply").click(function(){
		for(var i = 0; i < 2; i++)
		{
			for(var j = 0; j < 3; j++)
			{
				var pname = "#pots" + (i+1) + "_codec" + (j+1);
				for (var k = j+1; k < 4; k++)
				{
					var kname = "#pots" + (i+1) + "_codec" + (k+1);
					if($(pname).val() >= 0 && $(pname).val() == $(kname).val())
					{
						alert(WebString.codec_same);
						return false;
					}
				}
			}
		}
		if(($("#oob_dtmf").val() == 1) && (parseInt($("#dtms_events").val()) > 101 || parseInt($("#dtms_events").val()) < 97 || !$("#dtms_events").val().length))
		{	
			alert(WebString.dtmf_payload);
			return false;
		}
		
		XDoSubmit();
	});
});

//]]>
</script>
<% PrintTemplate2(); %>

<div class="cfgstep">
	<p><strong id="XS0"></strong></p>
	<table>
		<tr>
			<td style="font-weight:bold" width="200"><script>document.write(WebString.pots_if);</script></td>
			<td style="font-weight:bold"><script>document.write(WebString.pots1);</script></td>
			<td style="font-weight:bold"><script>document.write(WebString.pots2);</script></td>
		</tr>
		<tr>
			<td width="200" id="XS1"></td>
			<td width="200">
				<select name="pots1_codec1" id="pots1_codec1">
					<option value="8">G.711A</option>
					<option value="0">G.711U</option>
					<option value="4">G.723</option>
					<option value="18">G.729</option>
				</select>
			</td>
			<td>
				<select name="pots2_codec1" id="pots2_codec1">
					<option value="8">G.711A</option>
					<option value="0">G.711U</option>
					<option value="4">G.723</option>
					<option value="18">G.729</option>
				</select>
			</td>
		</tr>
		<tr>
			<td width="200" id="XS2"></td>
			<td width="200">
				<select name="pots1_codec2" id="pots1_codec2">
					<option value="-1"><script>document.write(WebString.None);</script></option>
					<option value="8">G.711A</option>
					<option value="0">G.711U</option>
					<option value="4">G.723</option>
					<option value="18">G.729</option>
				</select>
			</td>
			<td>
				<select name="pots2_codec2" id="pots2_codec2">
					<option value="-1"><script>document.write(WebString.None);</script></option>
					<option value="8">G.711A</option>
					<option value="0">G.711U</option>
					<option value="4">G.723</option>
					<option value="18">G.729</option>
				</select>
			</td>
		</tr>
		<tr>
			<td width="200" id="XS3"></td>
			<td width="200">
				<select name="pots1_codec3" id="pots1_codec3">
					<option value="-1"><script>document.write(WebString.None);</script></option>
					<option value="8">G.711A</option>
					<option value="0">G.711U</option>
					<option value="4">G.723</option>
					<option value="18">G.729</option>
				</select>
			</td>
			<td>
				<select name="pots2_codec3" id="pots2_codec3">
					<option value="-1"><script>document.write(WebString.None);</script></option>
					<option value="8">G.711A</option>
					<option value="0">G.711U</option>
					<option value="4">G.723</option>
					<option value="18">G.729</option>
				</select>
			</td>
		</tr>
		<tr>
			<td width="200" id="XS4"></td>
			<td width="200">
				<select name="pots1_codec4" id="pots1_codec4">
					<option value="-1"><script>document.write(WebString.None);</script></option>
					<option value="8">G.711A</option>
					<option value="0">G.711U</option>
					<option value="4">G.723</option>
					<option value="18">G.729</option>
				</select>
			</td>
			<td>
				<select name="pots2_codec4" id="pots2_codec4">
					<option value="-1"><script>document.write(WebString.None);</script></option>
					<option value="8">G.711A</option>
					<option value="0">G.711U</option>
					<option value="4">G.723</option>
					<option value="18">G.729</option>
				</select>
			</td>
		</tr>
	</table>
</div>
<div class="cfgstep">
	<p><strong id="XS5"></strong></p>
	<table>
		<tr>
			<td width="200" id="XS6"></td>
			<td colspan="2">
				<select name="oob_dtmf" id="oob_dtmf">
					<option value="0" selected="selected" id="XS7"></option>
					<option value="1" id="XS8"></option>
				</select>
			</td>
		</tr>
		<tr id="outbound">
			<td width="200" id="XS9"></td>
			<td colspan="2">
				<input id="dtms_events" name="dtms_events" type="text" maxlength="3" size="6" onkeypress="return OnKeyPress(event, X_INPUT_NUM);" />(97~101)
			</td>
		</tr>
	</table>
</div>
<div class="cfgstep">
	<p><strong><script>document.write(WebString.stepApply);</script></strong></p>
	<a href="#" id="btn_apply" class="btn"><script>document.write(WebString.Apply);</script></a>
</div>

<% PrintTemplate3(); %>