<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[
var macfilter_enable;
var macfilter_list = new Array();
var macfilter_white_list = new Array();
var macfilter_black_list = new Array();
var LanDevStatus
var lan_dev = new Array();
var wl_num
var eth_num

//add mac filter mode by rex
var macfilter_mode;
var splitor = "-";

<% MACFLT_GetConfig(); %>
<% LANDev_GetDevice(); %>

function FreshTable(){
	var value = "";
	var TR = "";
	TR += "<table id='macfilterTable' class='mlist'>";
	TR += '<tr>';
    //TR += '<th colspan="3" class="tableTitle">' + XmacfilterString[0] +'</th>\n';
    //add mac filter allow list by rex
    if(macfilter_mode == "0") {
        TR += '<th colspan="3" class="tableTitle">' + XmacfilterString[0] +'</th>\n';
    }else if(macfilter_mode == "1") {
        TR += '<th colspan="3" class="tableTitle">' + XmacfilterString[16] +'</th>\n';
    }
	TR += '</tr>\n';
	TR += '<tr>\n';
	TR += '<th>' + XmacfilterString[1] +'</th>\n';
	TR += '<th>' + XmacfilterString[2] +'</th>\n';
	TR += '<th>' + WebString.Edit +'</th>\n';
	TR += '</tr>\n';
	
	if(macfilter_list.length == 0){
		TR += '</table>\n';
		$("#macfilter_value").val(value);
		$("#macFilterDiv").html(TR);
		return;
	}else{
		$.each(macfilter_list, function(id, el){
			if (id > 0){
				value += "-.-";
			}

			value += el.hostname + "#" + el.mac;

			TR += '<tr>\n';	
			TR += '<td>' + el.hostname + '</td>\n';
			TR += '<td>' + el.mac + '</td>\n';
			TR += '<td><a href="#" class="btn remove_btn" >' + WebString.Remove + '</a></td>\n';
			TR += '</tr>\n';
		});
		
		TR += '</table>\n';
	}
	
	$("#macfilter_value").val(value);
	$("#macFilterDiv").html(TR);

	$(".remove_btn").click(function(){
		if (!confirm(WebString.delete_confirm))
		{
			return;
		}

		var row = this.parentNode.parentNode.rowIndex;
		macfilter_list[row-2] = macfilter_list[macfilter_list.length-1];
		macfilter_list.pop();
		FreshTable();
		XDoSubmit();
	});	
}


function WriteHostnameSel(){
	var device_sel = '<select id="device_select" style="width:220px">\n';
	device_sel += '<option value="Manually Enter MAC Address">' + XmacfilterString[13] + '</option>';
	if (lan_dev.length != 0){
		$.each(lan_dev, function(id, el){
			device_sel += '<option>' + el.hostname + splitor + el.mac + '</option>';
		});
	}

	device_sel += '</select>';
	$("#device_select_td").html(device_sel);

	$("#device_select").change(function(){
		if ("Manually Enter MAC Address" == $("#device_select").val()){
			$("#mac_addr_tr").show();
		}else{
			$("#mac_addr_tr").hide();
		}
	});
}

function radioSet(enable, mode){
	if (eval(enable)=="1"){
		$("#"+enable+"0").get(0).checked=false;
        if (mode == "0") {
            $("#"+enable+"1").get(0).checked=true;
            $("#"+enable+"2").get(0).checked=false;
        }else if(mode == "1") {
            $("#"+enable+"1").get(0).checked=false;
		    $("#"+enable+"2").get(0).checked=true;
        }
	}else if (eval(enable)=="0"){
		$("#"+enable+"0").get(0).checked=true;
		$("#"+enable+"1").get(0).checked=false;
		$("#"+enable+"2").get(0).checked=false;
	}else{
		return;
	}
		
}

function SetMode(){
	/*if (1 == $("input[name='macfilter_enable']:checked").val()){
		$("[name='hide']").show();
		WebStepIndex();
	}else if (0 == $("input[name='macfilter_enable']:checked").val()){
		$("[name='hide']").hide();
		WebStepIndex();
    }*/

	if ("1" == macfilter_enable){
		$("[name='hide']").show();
		WebStepIndex();
	    FreshTable();
	}else if (0 == macfilter_enable){
		$("[name='hide']").hide();
		WebStepIndex();
	}
}

function HaveSameMac(mac){
	for (var i = 0; i < macfilter_list.length; i++ ){
		if(macfilter_list[i].mac == mac)
			return true;
	}	
	
	return false;
}

function doCheckVal(macaddr){
	var mac;
	
	if (macfilter_list.length >= 32){	
		alert(XmacfilterString[4]);
		return false;
	}

	mac = macaddr.toLowerCase();

	if (mac.length > 20){
		alert(XmacfilterString[5]);
		return false;
	}else if (mac.length == 0){
		alert(XmacfilterString[6]);
		return false;
	}
	
	if(HaveSameMac(mac)){
		alert(XmacfilterString[7]);
		return false;	
	}

	if(isValidMacAddress(mac) == false){
		alert(XmacfilterString[8]);
		return false;
	}
}

function AddRule(){
	var obj = new Object();
	var targetstr;
	var indexofsplitor;

	if ("Manually Enter MAC Address" == $("#device_select").val()){
		hostname = "Unknown";
		macaddr = $("#mac_addr").val();
	}else{
		if(1 == lan_dev.length)
		{
            var confirm_string;
            if ("0" == macfilter_mode) {
                confirm_string = WebString.continue_confirm;
            }else if("1" == macfilter_mode) {
                confirm_string = WebString.continue_confirm1;
            }
		    if (!confirm(confirm_string))
		    {
		        return;
		    }
		}
		targetstr = $("#device_select").val();
		indexofsplitor = targetstr.lastIndexOf(splitor);
		hostname = targetstr.substr(0, indexofsplitor);
		macaddr = targetstr.substr(indexofsplitor+1);
	}

	hostname = $.trim(hostname);
	macaddr = $.trim(macaddr);

	if (false == doCheckVal(macaddr)){
		return;
	}	

	obj.hostname = hostname;
	obj.mac = macaddr;

	macfilter_list.push(obj);
	FreshTable();
	XDoSubmit();
}

function updatemacflt(){
	window.location.href = window.location.href;
}

function WebDoSubmit(){
	setInterval("updatemacflt();", 3000);
	$("#XForm").submit();
}

function initlist(){
    if("0" == macfilter_mode) {
        macfilter_list = macfilter_black_list;
    }else if("1" == macfilter_mode) {
        macfilter_list = macfilter_white_list;
    }
}

function WebInit(){
    initlist();
	WriteHostnameSel();
	radioSet("macfilter_enable", macfilter_mode);
	SetMode();
	FreshTable();
}

$(document).ready(function () {
	$("input").css("ime-mode","disabled");
	$("#macfilter_enable0").change(function(){
        macfilter_enable = "0";
		SetMode();
	});
	
	$("#macfilter_enable1").change(function(){
        macfilter_enable = "1";
        macfilter_mode = "0";
        initlist();
		SetMode();
	});

    //add mac filter mode by rex
    $("#macfilter_enable2").change(function(){
        macfilter_enable = "1";
        macfilter_mode = "1";
        initlist();
        SetMode();
		alert(WebString.continue_confirm1);
    });

	$("#btn_apply").click(function(){
		XDoSubmit();
	});

	$("#btn_add").click(function(){
		AddRule();
	});
});
//]]>
</script>
<% PrintTemplate2(); %>
<input id="macfilter_value" name="macfilter_value" type="hidden" value="" />
<div class="cfgstep">
	<p><strong id="XS9"></strong></p>
	<table>
		<tr>
			<td id="XS10" width="200"></td>
			<td>
				<input type="radio" name="macfilter_enable" id="macfilter_enable0" value="0" />
				<script>document.write(WebString.Disable);</script>&nbsp;&nbsp;
				<input type="radio" name="macfilter_enable" id="macfilter_enable1" value="1" checked="true"/><script>document.write(WebString.BlockList);</script>
				<input type="radio" name="macfilter_enable" id="macfilter_enable2" style="display:none" value="2" checked="true"/><p hidden><script>document.write(WebString.AllowList);</script></p>
				<!--<input type="radio" name="macfilter_enable" id="macfilter_enable2" value="2" checked="true"/><script>document.write(WebString.AllowList);</script>-->
			</td>
		</tr>
	</table>
</div>
<div class="cfgstep">
	<p><strong><script>document.write(XmacfilterString[3]);</script></strong></p>
	<a id="btn_apply" class="btn apply_btn" href="#">
		<script>document.write(WebString.Apply);</script>
	</a>
</div>
<div class="cfgstep" style="display:none" name="hide">
	<p><strong id="XS11"></strong></p>
	<table>
		<tr>
			<td id="XS12" width="200"></td>
			<td id="device_select_td"></td>
     	</tr>
     	<tr id="mac_addr_tr">
     	    <td id="XS14" width="200"></td>
      		<td><input type="text" id="mac_addr" maxlength="17" onkeypress="return OnKeyPress(event, X_INPUT_MAC);"/>
      			<script>document.write(XmacfilterString[15]);</script></td>
		</tr>
	</table>
</div>
<div class="cfgstep" style="display:none" name="hide">
	<p><strong><script>document.write(WebString.stepAdd);</script></strong></p>
	<a id="btn_add" class="btn apply_btn" href="#">
		<script>document.write(WebString.Add);</script>
	</a>
</div>
<div id="macFilterDiv" class="cfglist" style="display:none" name="hide"></div>
<% PrintTemplate3(); %> 
