<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

var username = new Array();
var user_pri = 0;

<% Password_GetConfig(); %>

function showUserList()
{
	var i, str = "";
	for (i = 0; i< username.length; i++)
	{
		if (0 == username[i].length) continue;
		str += '<option value="' + username[i] + '">' + username[i] + '<\/option>';
	}
	$("#userlist").html(str);
}

function doUserList()
{
	$("#username").val($("#userlist").val());
}

function WebInit()
{
	if (("em" == top.WebProject) && (4 == top.XCurrentUser))
	{
		$("#userlist").show();
		$("#username").hide();
		showUserList();
	}
    $("#username").attr("readonly","true");
    $("#username").val(username[0]);
    
    WebStepIndex(); 
}

$(document).ready(function (){
	$("#userlist").change(function(){
		doUserList();
	});
    $("#btn_apply").click(function(){
        XDoSubmit();
    });   
});

function CheckSetValue()
{
    var username = $("#username").val();
	var password0 = $("#password0").val();
    var password1 = $("#password1").val();
    var password2 = $("#password2").val();
	
    /*if(username.length < 6)
    {
        alert(WebString.username_length);
        $("#username").focus();
        return false;
    }*/

	if(password0 != old_password)
	{
		alert(WebString.password_username);
		$("#password0").focus();
		return false;
	}
    if(password1.length < 6 || password1.length > 64)
    {
        alert(WebString.valid_passwd_length);
        $("#password1").focus();
        return false;
    }

    if(password1 != password2)
    {
        alert(WebString.password_differ);
        $("#password2").focus();
        return false;
    }

    return true;
}

function WebDoSubmit()
{       
    if( false == CheckSetValue())
    {
        return;
    }
    $("#XForm").submit();
}

//]]>
</script>
<% PrintTemplate2(); %>

<div class="cfgstep">
    <p><strong id="XS0"></strong></p>
    <table>
        <tr>
            <td width="200" id="XS1"></td>
            <td><select name="userlist" id="userlist" style="display:none"></select>
                <input type="text" name="username" id="username" maxlength="64" style="width:150px" /></td>
        </tr>
		  <tr>
            <td width="200" id="XS4"></td>
            <td><input type="password" name="password0" id="password0" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_PASSWD);"/></td>
        </tr>
        <tr>
            <td width="200" id="XS2"></td>
            <td><input type="password" name="password1" id="password1" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_PASSWD);"/></td>
        </tr>
        <tr>
            <td width="200" id="XS3"></td>
            <td><input type="password" name="password2" id="password2" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_PASSWD);"/></td>
        </tr>
    </table>
</div>

<div class="cfgstep">
    <p><strong><script>document.write(WebString.stepApply);</script></strong></p>
    <a id="btn_apply" class="btn" href="#"><script>document.write(WebString.Apply);</script></a>
</div>

<% PrintTemplate3(); %>