<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

var wan_list = new Array();
var route_list = new Array();

<% GetRouterWan(); %>
<% proute_GetConfig(); %>

function showWanList()
{
	var i;
	for (i = 0; i < wan_list.length; i++)
	{
		$("#wanidx").append("<option value=\"" + (parseInt(wan_list[i].index) + 1) + "\">" + wan_list[i].name + "<\/option>");
	}
	$("#wanidx").append("<option value=\"0\">br0<\/option>");
}

function showRouteList()
{
	var i, j, str, ifname;
	for (i = 0; i < route_list.length; i++)
	{
		ifname = "";
		if (route_list[i].wanidx == 0) {
			ifname = "br0";
		} else {
			for (j = 0; j < wan_list.length; j++)
			{
				if ((route_list[i].wanidx - 1) == wan_list[j].index)
				{
					ifname = wan_list[j].name;
					break;
				}
			}
		}
		str = "<tr>";
		str += "<td>" + route_list[i].srcip + "<\/td>";
		str += "<td>" + route_list[i].srcmask + "<\/td>";
		str += "<td>" + route_list[i].gateway + "<\/td>";
		str += "<td>" + ifname + "<\/td>";
		str += "<td><a class=\"btn remove_btn\" href=\"#\" onclick=\"deleteRoute(" + i + ");\">" + WebString.Remove + "<\/td>";
		str += "<tr>";
		$("#route_list").append(str);
	}
}

function checkSameRule(srcip, srcmask, gateway)
{
	for (var i = 0; i < route_list.length; i++)
	{
		if (route_list[i].srcip == srcip && route_list[i].srcmask == srcmask) 
		{
		    if(route_list[i].gateway == gateway)
		        alert(WebString.samerule);
            else
                alert(WebString.samerule2);
			return false;
        }
    }
	return true;
}

function checkValue()
{
	var obj = new Object();
	if (route_list.length >= 16)
	{
		alert(WebString.rulefull);
		return false;
	}	
	if ($("#srcip").val() == '') {
		alert(WebString.ip_alert);
		return false;
	}
	if (isValidIpAddress($("#srcip").val()) == false)
	{
		alert(WebString.ip_alert);
		return false;
	}
	if (isValidSubnetMask($("#srcmask").val()) == false)
	{
		alert(WebString.netmask_alert);
		return false;
	}
	if (isValidIpAddress($("#gateway").val()) == false)
	{
		alert(WebString.ip_alert);
		return false;
	}
	if ($("#gateway").val() == $("#srcip").val())
	{
		alert(WebString.ip_alert);
		return false;
	}
	if (checkSameRule($("#srcip").val(), $("#srcmask").val(), $("#gateway").val()) == false)
	{
		alert(WebString.samerule);
		return false;
	}

	return true;
}

function deleteRoute(idx)
{
	if (!confirm(WebString.delete_confirm))
	{
		return;
	}
	$("#srcip").val(route_list[idx].srcip);
	$("#srcmask").val(route_list[idx].srcmask);
	$("#gateway").val(route_list[idx].gateway);
	$("#route_act").val("1");
	$("#XForm").submit();
}

function WebInit()
{
	showWanList();
	showRouteList();
	WebStepIndex();
}

function WebDoSubmit()
{
	if (false == checkValue())
	{
		return;
	}
	$("#route_act").val("0");
	$("#XForm").submit();
}

$(document).ready(function () {
	$("#btn_apply").click(function() {
        XDoSubmit();
    });
});

//]]>
</script>
<% PrintTemplate2(); %>

<div class="cfgstep">
	<p><strong id="XS0"></strong></p>
	<table>
		<tr>
			<td id="XS1" width="200"></td>
			<td><select name="policymode" id="policymode">
				<option id="XS2" value="0"></option>
				</select></td>
		</tr>
	</table>
</div>
              	
<div class="cfgstep">
	<p><strong id="XS3"></strong></p>
	<table>
		<tr>
			<td id="XS4" width="200"></td>
			<td><input type="text" name="srcip" id="srcip" maxlength="15" style="ime-mode:disabled" /></td>
		</tr>
		<tr>
			<td id="XS5" width="200"></td>
			<td><input type="text" name="srcmask" id="srcmask" maxlength="15" style="ime-mode:disabled" /></td>
		</tr>
		<tr>
			<td id="XS6" width="200"></td>
			<td><input type="text" name="gateway" id="gateway" maxlength="15" style="ime-mode:disabled" /></td>
		</tr>
		<tr>
			<td id="XS7" width="200"></td>
			<td><select name="wanidx" id="wanidx">
				</select></td>
		</tr>
	</table>
</div>

<div class="cfgstep">
	<p><strong><script type="text/javascript">document.write(WebString.stepAdd);</script></strong></p>
	<a id="btn_apply" class="btn apply_btn" href="#"><script type="text/javascript">document.write(WebString.Add);</script></a>
	<input id="route_act" name="route_act" type="hidden" />
</div>

<div class="cfglist">
	<table id="route_list">
		<tr>
			<th id="XS8" colspan="5" class="tableTitle"></th>
		</tr>
		<tr>
			<th id="XS9" style="width: 18%"></th>
			<th id="XS10" style="width: 18%"></th>
			<th id="XS11" style="width: 18%"></th>
			<th id="XS12" style="width: 30%"></th>
			<th style="width: 16%"><script type="text/javascript">document.write(WebString.Edit);</script></th>		
		</tr>
	</table>  
</div>

<% PrintTemplate3(); %>