<% PrintTemplate1(); %>
<style type="text/css">

#up_img {
	filter: alpha(opacity:0);
	opacity: 0;
}

.type-file-text {
	border: 1px solid #cdcdcd;
}

.type-file-button {
	background-color: #fff;
	border: 1px solid #cdcdcd;
}

</style>
<script type="text/javascript">
//<![CDATA[
var import_flag = 0;
var values = "";
var i = 0;

<% restore_GetConfig(); %>

function restoreProcess()
{
	if(i < 99)
	{
		i = i + 1;
		values =  WebString.restoring + i + "%";
		document.getElementById('myProcess').innerHTML = values;
	}
	else
	{
		window.location.href = window.location.href;
	}
}

function WebDoSubmit()
{
	if($("#up_img").val() == "")
	{
		alert(WebString.restore_alert);
		$("#up_img").focus();
		return;
	}
	if (!confirm(WebString.backup_import_alert))
	{
		return;
	}

	$("#div_up_file").hide();
	$("#div_wirte_firmware").hide();
	$("#div_upload_file").show();
	$("#XForm").attr("enctype", "multipart/form-data");
	$("#XForm").submit();
}

function WebInit()
{
	$("#div_upload_file").hide();
	$("#div_error").hide();

	if(0 == import_flag)
	{
		$("#div_up_file").show();
		$("#div_wirte_firmware").hide();
	}
	else if(1 == import_flag)
	{
		setInterval("restoreProcess();", 900);
		$("#div_up_file").hide();
		$("#div_wirte_firmware").show();
	}
	else if(2 == import_flag)
	{
		$("#div_up_file").hide();
		$("#div_wirte_firmware").hide();
		$("#div_error").show();
	}

	WebStepIndex();
}

$(document).ready(function () {
	$("#up_img").offset({top:-1000,left:-1000});
	$("#up_img_button").val(WebString.browse);
	var navigatorName = "Microsoft Internet Explorer"; 
	if(navigator.appName == navigatorName)
	{
		$(document).mousemove(function(e){
			var pos = $("#up_img_button").offset();
			var bright = pos.left + $("#up_img_button").width() + 16;
			var bbuttom = pos.top + $("#up_img_button").height() + 2;
			if(e.pageX >= pos.left && e.pageX <= bright && e.pageY >= pos.top && e.pageY <= bbuttom)
			{
				$("#up_img").offset({top:e.pageY-10,left:e.pageX-50});
			}
			else
			{
				$("#up_img").offset({top:-1000,left:-1000});
			}
		});
	}
	else
	{
		$("#up_img_button").click(function(){
			$("#up_img").focus();
			$("#up_img").trigger("click");
		});
	}
	
	$("#up_img").change(function(){
		if($("#up_img").val() != null)              
		{
			$("#up_img_text").val($("#up_img").val());
		}
	});
	
	$("#btn_restore").click(function(){
		XDoSubmit();
	});
});

//]]>
</script>
<% PrintTemplate2(); %>
<input type="file" id="up_img" name="up_img" size="1" />
<div id="div_up_file">
	<div class="cfgstep">
		<p><strong id="XS0"></strong></p>
		<table>
			<tr>
				<td>
					<input type="text" id="up_img_text" class="type-file-text" readonly="readonly" />
					<input type="button" id="up_img_button" class="type-file-button" />
				</td>
			</tr>
		</table>
	</div>
	
	<div class="cfgstep">
		<p><strong><script>document.write(WebString.stepRestore);</script></strong></p>
		<a id="btn_restore" class="btn apply_btn" href="#"><script>document.write(WebString.Restore);</script></a>
	</div>
</div>

<div id="div_wirte_firmware">
	<div class="cfgstep">
		<p><strong id="XS1"></strong></p>
		<table>
			<tr>
				<td id="myProcess"></td>
			</tr>
		</table>
	</div>
</div>

<div id="div_upload_file">
	<div class="cfgstep">
		<p><strong id="XS2"></strong></p>
		<table>
			<tr>
				<td id="XS3"></td>
			</tr>
		</table>
	</div>
</div>

<div id="div_error">
	<div class="cfgstep">
		<p><strong id="XS4"></strong></p>
		<table>
			<tr>
				<td id="XS5"></td>
			</tr>
		</table>
	</div>
</div>

<% PrintTemplate3(); %>