<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

var local_enable = 0;
var remote_enable = 0;
var username = "";
var password = "";
var wanindex = 0;
var wan_list = new Array();

<% Telnet_GetConfig(); %>
<% GetRouterWan(); %>

function DataInit()
{
    if (1 == local_enable)
        $("#local_enable").attr("checked", true);
    else
        $("#local_disable").attr("checked", true);

    if (1 == remote_enable)
        $("#rmt_enable").attr("checked", true);
    else
        $("#rmt_disable").attr("checked", true);
        
    var i;
    if(0 == wan_list.length)
    {
        $("#wan_list").append("<option value=\"no_wan\">" + "NO_WAN_Connection" + "</option>");
    }
    else
    {
        for (i = 0; i < wan_list.length; i++)
        {
           $("#wan_list").append("<option value=\"" + parseInt(wan_list[i].index) + "\">" + wan_list[i].name + "</option>");
        }
        $("#wan_list").attr("value", wanindex);
    }

    $("#username").val(username);
    $("#password1").val(password);
    $("#password2").val(password);
}

function WebInit()
{
    DataInit(); 
    RemoteTelnetEnable();
    WebStepIndex(); 
}

function RemoteTelnetEnable()
{
    var rmt_val = $('input:radio[name="remote_telnet"]:checked').val();
    var lcl_val = $('input:radio[name="local_telnet"]:checked').val();
    
    if(1 == rmt_val)
    {
        $("#wanlist_div").show();
    }
    else
    {
        $("#wanlist_div").hide();
        $("#wan_list").val("");
    }

    if( (1 == rmt_val) || (1 == lcl_val) )
    {
        $("#username_div").show();
    }
    else
    {
        $("#username_div").hide();
    }

    WebStepIndex();     
}

$(document).ready(function (){
	$("input").css("ime-mode","disabled");
    $("#btn_apply").click(function(){
        XDoSubmit();
    });   

    $("input[name='local_telnet']").click(function() {
        RemoteTelnetEnable();
    });

    $("input[name='remote_telnet']").click(function() {
        RemoteTelnetEnable();
    });
});

function CheckSetValue()
{
    var username = $("#username").val();
    var password1 = $("#password1").val();
    var password2 = $("#password2").val();
    var rmt_val = $('input:radio[name="remote_telnet"]:checked').val();
    var lcl_val = $('input:radio[name="local_telnet"]:checked').val();

    if((1 == rmt_val) || (1 == lcl_val))
    {
	    if(username.length < 1 || username.length > 64 || false == isValidUsername1(username))
	    {
	        alert(WebString.telnet_username);
            $("#username").focus();
	        return false;
	    }	
		
        if(password1.length < 1 || password1.length > 64)
        {
            alert(WebString.valid_sshpwd_length);
            $("#password1").focus();
            return false;
        }

        if(password1 != password2)
        {
            alert(WebString.password_differ);
            $("#password2").focus();
            return false;
        }
    }

    if( 1 == rmt_val)
    {
        if("no_wan" == $("#wan_list").val())
        {
            alert(WebString.no_valid_wan);
            $("#wan_list").focus();
            return false;	
        }
    }
    
    return true;
}

function WebDoSubmit()
{       
    if( false == CheckSetValue())
    {
       return;
    }

    $("#XForm").submit();
}

//]]>
</script>
<% PrintTemplate2(); %>

<div class="cfgstep">
    <p><strong id="XS0"></strong></p>
    <table>
        <tr>
            <td width="200" id="XS1"></td>
            <td><input type="radio" name="local_telnet" id="local_enable" value="1" /><script>document.write(WebString.Enable);</script>&nbsp;&nbsp;
                <input type="radio" name="local_telnet" id="local_disable" value="0" checked/><script>document.write(WebString.Disable);</script>
            </td>
        </tr>
        <tr>
            <td width="200" id="XS2"></td>
            <td><input type="radio" name="remote_telnet" id="rmt_enable" value="1" /><script>document.write(WebString.Enable);</script>&nbsp;&nbsp;
                <input type="radio" name="remote_telnet" id="rmt_disable" value="0" checked/><script>document.write(WebString.Disable);</script>
            </td>
        </tr>
        <tr id="wanlist_div" style="display:none">
            <td width="200" id="XS3"></td>
            <td><select name="wan_list" id="wan_list"></select>
            </td>
        </tr>
    </table>
</div>

<div class="cfgstep" id="username_div">
    <p><strong id="XS4"></strong></p>
    <table>
        <tr>
            <td width="200" id="XS5"></td>
            <td><input type="text" name="username" id="username" maxlength="64" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_ID);" /></td>
        </tr>
        <tr>
            <td width="200" id="XS6"></td>
            <td><input type="password" name="password1" id="password1" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_PASSWD);" /></td>
        </tr>
        <tr>
            <td width="200" id="XS7"></td>
            <td><input type="password" name="password2" id="password2" style="width:150px" onkeypress="return OnKeyPress(event, X_INPUT_PASSWD);" /></td>
        </tr>
    </table>
</div>

<div class="cfgstep">
    <p><strong><script>document.write(WebString.stepApply);</script></strong></p>
    <a id="btn_apply" class="btn" href="#"><script>document.write(WebString.Apply);</script></a>
</div>

<% PrintTemplate3(); %>
