<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

var diag_state = 0;
var wan_list = [];
var stat_list = [];
var wanIndex = 0;

<% GetRouterWan(); %>
<% traceroute_GetConfig(); %>

function showWanList()
{
	var i;
	for (i = 0; i < wan_list.length; i++)
	{
		$("#wanIndex").append("<option value=\"" + (parseInt(wan_list[i].index) + 1) + "\">" + wan_list[i].name + "<\/option>");
	}

	$("#wanIndex").append("<option value=\"0\">br0<\/option>");
}

function freshState()
{
	if((0 == stat_list.length) && (2 == diag_state))
	{
	    $("#stat_list").append('<tr><td colspan=\"5\">Network is unreachable or can not resolve the hostname.</td></tr>');	
	}
	else
	{
    	$.each(stat_list,function(wid,wel){
    		$("#stat_list").append("<tr><td>" + wel.hop + "</td><td>" + wel.hostip + "</td><td>"
    		 + wel.time1 + "</td><td>" + wel.time2 + "</td><td>" + wel.time3 + "</td></tr>");
    	});
    }
}

function WebDoSubmit()
{
	var url_or_ip;
	
	if(1 == top.traceroute_btn_flag)
	{
		alert(WebString.tracerouting_alert);
		return;
	}

	url_or_ip = $("#url_or_ip").val();
	if(url_or_ip == "")
	{
		alert(WebString.ping_alert);
		return;
	}
	
	if (false == isValidUrl(url_or_ip) && false == isValidIpAddress6(url_or_ip) && false == isValidIpAddress(url_or_ip)){
		alert(WebString.ping_alert);
		return;	
	}	
	
	$("#btn_test").removeClass("btn").addClass("btn_gray");
	top.traceroute_btn_flag = 1;
	
	$("#XForm").submit();
}

function WebInit()
{
	if (top.WebShowIpv6)
	{
		$("#ip_ver").show();
	}
	showWanList();
	freshState();
	WebStepIndex();

	if (1 == diag_state)
	{
		$("#btn_test").removeClass("btn").addClass("btn_gray");
		setTimeout(function(){window.location.href = window.location.href;}, 5000);
	}
	else if(2 == diag_state)
	{
		$("#btn_test").removeClass("btn_gray").addClass("btn");
		top.traceroute_btn_flag = 0;
	}
}

$(document).ready(function () {
	$("#btn_test").click(function(){
		XDoSubmit();
	});
});

//]]>
</script>
<% PrintTemplate2(); %>

<div class="cfgstep">
	<p><strong id="XS0"></strong></p>
	<table>
		<tr>
			<td width="200" id="XS1"></td>
			<td>
				<select name="wanIndex" id="wanIndex" width="350">
				</select>
			</td>
		</tr>
	</table>
</div>

<div class="cfgstep" id="ip_ver" style="display:none">
	<p><strong id="XS2"></strong></p>
	<table>
		<tr>
			<td width="200" id="XS3"></td>
			<td><input type="radio" name="iptype" id="select_ipv4" value="0" checked />IPv4&nbsp;&nbsp;
				<input type="radio" name="iptype" id="select_ipv6" value="1" />IPv6</td>
		</tr>
	</table>
</div>

<div class="cfgstep">
	<p><strong id="XS4"></strong></p>
	<table>
		<tr>
			<td width="200" id="XS5"></td>
			<td><input type="text" name="url_or_ip" id="url_or_ip" maxlength="128" size="40" onkeypress="return OnKeyPress(event, X_INPUT_URL);" />
			<br /><script type="text/javascript">document.write(XtracerouteString[13]);</script></td>
		</tr>
	</table>
</div>

<div class="cfgstep">
	<p><strong id="XS6"></strong></p>
	<a id="btn_test" class="btn apply_btn" href="#"><script>document.write(WebString.TTest);</script></a>
</div>


<div class="cfglist">
	<table id="stat_list">
		<tr>
			<th colspan="5" class="tableTitle" id="XS7"></th>
		</tr>
		<tr>
			<th id="XS8"></th>
			<th id="XS9"></th>
			<th id="XS10"></th>
			<th id="XS11"></th>
			<th id="XS12"></th>
		</tr>
	</table>
</div>


<% PrintTemplate3(); %>