<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

var Status3G = new Array();

<% WAN_Get_3G_Status(); %>

function doSetVal()
{
    switch(parseInt(Status3G.status))
    {
        case 1:
            $("#state3g").html(Xwan3gstatusString[7]);
            $("#state3g").css("color","#090");
        break;
        
        case 2:
            $("#state3g").html(Xwan3gstatusString[8]);
            $("#state3g").css("color","#E08800");
        break;
    
        case 0:        
        default:
            $("#state3g").html(Xwan3gstatusString[9]);
            $("#state3g").css("color","#F00");
        break;
    }

    var failure = "ERROR_NONE";
    
    switch(parseInt(Status3G.auth_failures))
    {        
        case 0:
            failure    = XwaninfoString[36];
            break
        case 1:
            failure    = XwaninfoString[37];
            break
        case 2:
            failure    = XwaninfoString[38];
            break                    
        default:
            failure    = XwaninfoString[39];
            break
    }
    
    $("#authfail").html(failure);    
    

    $("#bytessent").html(Status3G.count.txByte);
    $("#bytesrev").html(Status3G.count.rxByte);
    $("#packetssent").html(Status3G.count.txPackets);
    $("#packetsrev").html(Status3G.count.rxPackets);    
}

function WebInit()
{
    doSetVal();
}

$(document).ready(function () {

});

//]]>
</script>
<% PrintTemplate2(); %>


<div class="cfgstep">
	<p><strong id="XS0"> </strong></p>
	<table>
		<tr>
			<td width="200" id="XS1"> </td>
			<td><label id="state3g" style="font-weight:bold;"> </label></td>
        </tr>
		<tr>
			<td width="200" id="XS2"> </td>
			<td><label id="authfail"> </label></td>
        </tr>
		<tr>
			<td width="200" id="XS3"> </td>
			<td><label id="bytessent"> </label></td>
        </tr>
        <tr>
			<td width="200" id="XS4"> </td>
			<td><label id="bytesrev"> </label></td>
        </tr>
		<tr>
			<td width="200" id="XS5"> </td>
			<td><label id="packetssent"> </label></td>
        </tr>
		<tr>
			<td width="200" id="XS6"> </td>
			<td><label id="packetsrev"> </label></td>
        </tr>
    </table>
</div>

<div class="cfgstep">
    <a id="btn_refresh" class="btn" href="wan3gstatus.html"><script type="text/javascript">document.write(WebString.Refresh);</script></a>
	<!--<input type="hidden" id="vRefresh" name="vRefresh" value="0" />-->
</div>




<% PrintTemplate3(); %>