<% PrintTemplate1(); %>
<style type="text/css">

</style>

<script type="text/javascript">

var wps_enable="";
var ssid_list = new Array(4);
var mac_enable = new Array(4);
var mac_mode = new Array(4);
var mac_count = new Array(4);
var mac_list = new Array(4);
var lan_dev = new Array();

mac_list[0] = new Array();
mac_list[1] = new Array();
mac_list[2] = new Array();
mac_list[3] = new Array();

var BTN_APPLY_ENABLED 	= 0;
var RTN_ADD  			= 1;
var BTN_APPLY_DISABLED 	= 2;

<% WIFI5_Acc_GetConfig(); %>

<% LANDev_GetDevice(); %>


function showDeviceList()
{
	var i;
	var str;
	var j;

	str = '<option value = "0" selected = "selected" >' + Xwifi5accString[25] + '</option>';

	for (i = 0; i < lan_dev.length; i++)
	{
		j = i + 1;
		if (3 == lan_dev[i].conn_type)
		{
			str += '<option value =" '+ j +  '">' + lan_dev[i].hostname + ' - '+ lan_dev[i].mac + '<\/option>';
		}
	}

	$("#mac_address").append(str);

	WebStyleCommonList();
}

function FreshTable(ssid)
{
	var TR = "";

	TR += "<table id='macfilterTable' class='mlist'>";
	TR += '<tr>';
	TR += '<th colspan="5" style="text-align:center">'+Xwifi5accString[14]+'</th>\n';
	TR += '</tr>\n';
	TR += '<tr>\n';
	TR += '<th>'+Xwifi5accString[23]+'</th>\n';
	TR += '<th>'+Xwifi5accString[24]+'</th>\n';
	TR += '<th>'+Xwifi5accString[15]+'</th>\n';
	TR += '<th>'+Xwifi5accString[16]+'</th>\n';
	TR += '<th>'+Xwifi5accString[17]+'</th>\n';
	TR += '</tr>\n';

	if(mac_list[ssid].length == 0)
	{
		TR += '</table>\n';
		$("#macFilterDiv").html(TR);
		return;
	}
	else
	{
		for (var i = 0; i < mac_list[ssid].length; i++)
		{
			TR += '<tr>\n';
			for (var j = 0; j < lan_dev.length; j++)
			{
				if((3 == lan_dev[j].conn_type)&&( mac_list[ssid][i].mac == lan_dev[j].mac))
				{
					TR += '<td>' + lan_dev[j].hostname + '</td>\n';
					TR += '<td>' + lan_dev[j].ip + '</td>\n';
					break;
				}
			}

			if(lan_dev.length == j)
			{
				TR += '<td>' + 'Unknow' + '</td>\n';
				TR += '<td>' + 'Unknow' + '</td>\n';
			}

			TR += '<td>' + mac_list[ssid][i].mac + '</td>\n';
			if(mac_list[ssid][i].mod == 1)
			{
		    	TR += '<td>' + 'Access Denied'+ '</td>\n';
			}
			else if(mac_list[ssid][i].mod == 0)
			{
		    	TR += '<td>' + 'Access Allowed'+ '</td>\n';
			}
			TR += '<td><a href="#" class="btn remove_btn" >' + WebString.Remove + '</a></td>\n';
			TR += '</tr>\n';
		}

		TR += '</table>\n';
	}

	$("#macFilterDiv").html(TR);

	$(".remove_btn").click(function(){
		var value;
		var row = this.parentNode.parentNode.rowIndex;
		//  value = mac_list[ssid][row-2].devicename;
		//  value += "|" + mac_list[ssid][row-2].ipaddress;
		//value += "|" + mac_list[ssid][row-2].mac;

		value = mac_list[ssid][row-2].mac;
		value += "|" + mac_list[ssid][row-2].mod;

		$("#removed_mac").val(value);
		$("#XForm").submit();
	});
}

function WebInit()
{
	showDeviceList();
	$("#access_disabled").hide();
	SelectShow(0);
	FreshTable(0);
	WebStepIndex();
}

function SelectShow(i)
{
	if (mac_enable[i] == '1')
	{
		$("#acc_enabled").attr("checked", true);
		$("#access_enabled").show();
		$("#access_disabled").hide();
		$("[name='hide']").show();
		FreshTable(i);
	}
	else
	{
		$("#acc_disabled").attr("checked", true);
		$("#access_enabled").hide();
		$("#access_disabled").show();
		$("[name='hide']").hide();
    }

	if(mac_mode[i] == '0')
	{
		$("#mac_mode_on").attr("checked", true);
	}
	else
	{
		$("#mac_mode_off").attr("checked", true);
	}
}


function HaveSameMac(ssid ,mac)
{
	for (var i = 0; i < mac_list[ssid].length; i++ )
	{
		if(mac_list[ssid][i].mac == mac)
			return true;
	}

	return false;
}

function doCheckVal(ssid,macaddr)
{
	var mac;

	if (mac_list[ssid].length>=64)
	{
		alert(Xwifi5accString[9]);
		return false;
	}

	mac = macaddr.toLowerCase();
	if (mac.length != 17)
	{
		alert(Xwifi5accString[11]);
		return false;
	}

	if(HaveSameMac(ssid, mac))
	{
		alert(Xwifi5accString[12]);
		return false;
	}

	if(isValidMacAddress(mac) == false)
	{
		alert(Xwifi5accString[13]);
		return false;
	}
}

function WebAddSubmit()
{
	var enable;
	var add_or_apply;
	var ssid;
	ssid = $("#ssid_list").val();
	var mac_index = $("#mac_address").val();

    /*
    if (wps_enable == "1") {
        alert(Xwifi5accString[27]);
	    return;
    }
    */

	if(mac_count[ssid] >= 16)
	{
		alert(Xwifi5accString[18]);
		return;
	}

	enable = $("input[name='access_enable']:checked").val();

	if(enable == 1)
	{
		var macaddr;
		macaddr = $("#manual_mac_address").val();
		macaddr = $.trim(macaddr);

		if (false == doCheckVal(ssid,macaddr))
		{
			return;
		}
	}
	$("#XForm").submit();
}

function WebApplySubmit()
{
	$("#XForm").submit();
}

function selectType(mode)
{

	if(mode != "0")
	{
		$("#manually_enter_mac").hide();
	}
	else
	{
		$("#manually_enter_mac").show();
	}

	if(mode != 0)
	{

		$("#manual_mac_address").val(lan_dev[mode-1].mac);
	}
}

$(document).ready(function (){

	$("#acc_enabled").click(function() {
        /*
	    if (wps_enable == "1") {
            alert(Xwifi5accString[27]);
            $("#acc_disabled").attr("checked", true);
		    return;
	    }
        */
		var ssid;
		$("#access_enabled").show();
		$("#access_disabled").hide();
		$("[name='hide']").show();
		ssid = $("#ssid_list").val();
   		FreshTable(ssid);
    	WebStepIndex();
	});

	$("#acc_disabled").click(function() {
		$("#access_enabled").hide();
		$("#access_disabled").show();
	  	$("[name='hide']").hide();
		WebStepIndex();
	});

	$("#btn_apply_enabled").click(function() {
		$("#add_or_apply").val(BTN_APPLY_ENABLED);
		WebApplySubmit();
	});

	$("#btn_add").click(function() {
		$("#add_or_apply").val(RTN_ADD);
		WebAddSubmit();
	});

	$("#btn_apply_disabled").click(function() {
		$("#add_or_apply").val(BTN_APPLY_DISABLED);
		WebApplySubmit();
	});

});

</script>
<% PrintTemplate2(); %>

<input type="hidden" id="add_or_apply" name="add_or_apply"  value="" />
<input type="hidden" id="removed_mac" name="removed_mac" value="" />

<div class="cfgstep">
	<p><strong id="XS19"></strong></p>
	<table>
    <tr>
        <td width="200" id="XS20"></td>
        <td><select name="ssid_list" id="ssid_list" onchange="SelectShow(this.options[this.selectedIndex].value);">
                <option value="0" selected="selected">SSID 1 </option>
                <option value="1">SSID 2 </option>
                <option value="2">SSID 3 </option>
                <option value="3">SSID 4 </option>
            </select>
        </td>
    </tr>
	</table>
</div>

<div class="cfgstep">
	<p><strong id="XS0"></strong></p>
	<table>
		<tr>
			<td width="200" id="XS1"></td>
			<td>
			    <input name="access_enable" id="acc_enabled" type="radio" value="1" /><script>document.write(WebString.Enable);</script>&nbsp;&nbsp;
			    <input name="access_enable" id="acc_disabled" type="radio" value="0"/><script>document.write(WebString.Disable);</script>
			</td>
		</tr>
	</table>
</div>


<div id="access_enabled">
	<div class="cfgstep">
		<p><strong id="XS2"></strong></p>
        <table>
			<tr>
				<td width="200" id="XS3"></td>
				<!--
            	<td width="200">
            		<input name="mac_mode" id="mode_allow" type="radio" value="0" checked="checked" />Allow Device List
            	</td>
            	<td width="200">
            		<input name="mac_mode" id="mode_deny" type="radio" value="1" />Deny Device List
            	</td>
            	-->
            	<td>
            		<input name="mac_mode" id="mac_mode_on" type="radio" value="0" checked="checked" />
            		<script>document.write(Xwifi5accString[4]);</script>&nbsp;&nbsp;
            		<input name="mac_mode" id="mac_mode_off" type="radio" value="1" />
                	<script>document.write(Xwifi5accString[5]);</script>
            	</td>
          	</tr>
        </table>
	</div>

	<div class="cfgstep">
		<p><strong><script>document.write(Xwifi5accString[21]);</script></strong></p>
		<a id="btn_apply_enabled" class="btn apply_btn" href="#">
			<script>document.write(WebString.Apply);</script>
		</a>
	</div>

	<div class="cfgstep">
		<p><strong id="XS6"></strong>
	    </p>
		<table>
          	<tr>
          	  	<td width="200" id="XS7"></td>
          	  	<td><select name="mac_address" id="mac_address" onchange="selectType(this.options[this.selectedIndex].value);">
          	  		<!--
          	  		<option value="0" selected="selected">Manually Enter MAC</option>
          	  		<option value="1">Pauls PC - 3D:34:cd:54:8B</option>
          	  		<option value="2">XBox 360 - 45:3c:6b:45:9a</option>
          	  		-->
          	  	  	</select>
          	  	</td>
          	</tr>
          	<tr id="manually_enter_mac">
          	  	<td width="200" id="XS8"></td>
          	  	<td>
          	  		<input name="manual_mac_address" id="manual_mac_address" type="text" size="17" onkeypress="return OnKeyPress(event, X_INPUT_MAC);"/>
          	  		<script>document.write(Xwifi5accString[26]);</script>
          	  	</td>
          	</tr>
        </table>
	</div>

	<div class="cfgstep">
		<p><strong><script>document.write(Xwifi5accString[22]);</script></strong></p>
		<a id="btn_add" class="btn apply_btn" href="#">
			<script>document.write(WebString.Add);</script>
		</a>
	</div>
</div>

<div id="access_disabled">
	<div class="cfgstep">
		<p><strong><script>document.write(Xwifi5accString[21]);</script></strong></p>
		<a id="btn_apply_disabled" class="btn apply_btn" href="#">
			<script>document.write(WebString.Apply);</script>
		</a>
	</div>
</div>


<div id="macFilterDiv" class="cfglist" style="display:none" name="hide"></div>
<% PrintTemplate3(); %>