<% PrintTemplate1(); %>
<style type="text/css">
</style>
<script type="text/javascript">
//<![CDATA[

//init data started
var ssid_num = 0;
var wifi_status = {};
var wifi_status_ap = new Array();
var basic = {};
var access_control = new Array();
var ssid = new Array();
var wps = new Array();
var wifiswitchtimer_enable;
var wifiswitchtimerday = 0;
var wifi_switch_start_time = "";
var wifi_switch_end_time = "";
var wifi_state = {};

//set to default
wifi_status_ap[0]={
rx_packets:0,
tx_packets:0,
security:0
};
wifi_status_ap[1]={
rx_packets:0,
tx_packets:0,
security:0
};
wifi_status_ap[2]={
rx_packets:0,
tx_packets:0,
security:0
};
wifi_status_ap[3]={
rx_packets:0,
tx_packets:0,
security:0
};

//data from web server started

<% WIFI5INFO_XGetConfig(); %>
<% wifiswitchtimer_GetConfig(); %>

//data from web server ended

//init data ended

//Client contents started.

//define wifi mode
var RG_WIFI_MODE_AUTO = 0;		   // 802.11b, 11g, 11n mixed
var RG_WIFI_MODE_11GN = 1;
var RG_WIFI_MODE_11BG = 2;		   // 802.11b, 11g mixed
var RG_WIFI_MODE_11N = 3;		   // 802.11n only(802.11ng)
var RG_WIFI_MODE_11G = 4;		   // 802.11g only
var RG_WIFI_MODE_11B = 5;		   // 802.11b only
var RG_WIFI_MODE_11A = 6;		   // 802.11a/n for 5.8G band RF
var RG_WIFI_MODE_11AN = 7;
var RG_WIFI_MODE_11AC = 8;

var security_type_show = new Array();
security_type_show[0]=Xwifi5infoString[24];
security_type_show[1]=Xwifi5infoString[25];
security_type_show[2]=Xwifi5infoString[26];
security_type_show[3]=Xwifi5infoString[27];
security_type_show[4]=Xwifi5infoString[28];
security_type_show[5]=Xwifi5infoString[29];

var wireless_mode_show = new Array();
wireless_mode_show[RG_WIFI_MODE_AUTO] = Xwifi5infoString[1]; //auto
wireless_mode_show[RG_WIFI_MODE_11AN] = Xwifi5infoString[30]; //an
wireless_mode_show[RG_WIFI_MODE_11A] = Xwifi5infoString[31]; //a
wireless_mode_show[RG_WIFI_MODE_11N] = Xwifi5infoString[32]; //n
wireless_mode_show[RG_WIFI_MODE_11AC] = Xwifi5infoString[33]; //ac

var wps_type_show = new Array();
wps_type_show[0] = Xwifi5infoString[22];
wps_type_show[1] = Xwifi5infoString[23];

function showSelectSsid()
{
	var str = "";
	var j = 0;
	for (var i=0; i<ssid_num; i++)
	{
		j = i + 1;
		str += (
	  '<option value='+ i +'>'+ 'SSID' + j + ':' + ssid[i].ssidName +'</option>'
		);
	}
	$("#ssid").html(str);
}

function doSelectSsid()
{
	var chanStr = "";
	var ssid_index = parseInt($("#ssid").attr("value"));

	if(ssid_index > ssid_num)
		ssid_index = 0;

	if (0 == wifi_status.wifienable) {
		wifi_state_en = 0;
	} else {
		wifi_state_en = 1;
	}
	var radio_show = wifi_state_en != 0 ? XwifiinfoString[6] : XwifiinfoString[7];
	if (1 == wifi_status.wifi_channel_state) {
		wifi_state_en = 0;
		radio_show =  XwifiinfoString[36];
	}
	var ssid_state = ssid[ssid_index].enable != 0 ? Xwifi5infoString[6] : Xwifi5infoString[7];
	
	var channel = wifi_status.channel;
	var second_channel = wifi_status.second_channel;
	var channel_width = basic.channelwidth;
	var wireless_security_type = security_type_show[ wifi_status_ap[ssid_index].security];
	var ssid_broadcast = ssid[ssid_index].ssidBroadcast != 0 ? Xwifi5infoString[6] : Xwifi5infoString[7];
	var mac_authentication = access_control[ssid_index].enable != 0 ? Xwifi5infoString[6] : Xwifi5infoString[7];
	var wireless_mode = wireless_mode_show[basic.ieeeMode];
	var wps_state = wps[ssid_index].isinuse != 0 ? Xwifi5infoString[6] : Xwifi5infoString[7];
	var wps_type = wps_type_show[wps[ssid_index].mode];
	var wireless_packets_sent = wifi_status_ap[ssid_index].tx_packets;
	var wireless_packets_received = wifi_status_ap[ssid_index].rx_packets;

	if ((second_channel != 0) && (channel_width == 1))
	{
		chanStr += channel + " + " + second_channel;
	}
	else
	{
		chanStr += channel;
	}
	
  if (wifiswitchtimer_enable == 1) {
	if (wifi_state_en == 0) {
	  radio_show = radio_show + " (Wifi OpenTime: "+ wifi_switch_start_time + "-" + wifi_switch_end_time + ")";
	  $("#radio_en").html(radio_show);
	} else {
	  $("#radio_en").html(radio_show);
	}
  }
  else {
	$("#radio_en").html(radio_show);
  }

	$("#ssid_en").html(ssid_state);

	$("#channel").html(chanStr);
	$("#secu_type").html(wireless_security_type);
	$("#ssid_broadcast").html(ssid_broadcast);
	$("#mac_auth").html(mac_authentication);
	$("#wireless_mode").html(wireless_mode);
	$("#wps_state").html(wps_state);
	$("#wps_type").html(wps_type);
	$("#packets_sent").html(wireless_packets_sent);
	$("#packets_received").html(wireless_packets_received);

	if (wifi_state_en == 0)
	{
		$("#ssid_name").hide();
		$("#ssid_enable").hide();
		$("#wifi_status_detail").hide();
	}
	else if (ssid[ssid_index].enable == 0)
	{
		$("#ssid_name").show();
		$("#ssid_enable").show();
		$("#wifi_status_detail").hide();
	}
	else
	{
		$("#ssid_name").show();
		$("#ssid_enable").show();
		$("#wifi_status_detail").show();
	}
	
	if ((0 == ssid_index) && (wifi_status_ap[ssid_index].security <= 2))
	{
		$("#wifi_wps_state").show();
		if (wps[ssid_index].isinuse != 0)
		{
			$("#wifi_wps_type").show();
		}
		else
		{
			$("#wifi_wps_type").hide();
		}
	} 
	else 
	{
		$("#wifi_wps_state").hide();
		$("#wifi_wps_type").hide();
	}
}

function WebDoSubmit()
{
	//do nothing.
}

//---------------init value--------------------
function WebInit()
{
	showSelectSsid();
	doSelectSsid();
    
    if (1 == wifi5optimize_enable)
    {
      $("#optimize_warning").show();
      $("#btn_wifioptimize").attr("disabled", true);
      $("#btn_wifioptimize").removeClass("btn").addClass("btn_gray");
      var time = setInterval(function(){
        clearInterval(time);
        $("#optimize_warning").hide();
        $("#btn_wifioptimize").attr("disabled", false);
        $("#btn_wifioptimize").removeClass("btn_gray").addClass("btn");
        self.location.reload();
      }, 10000); 
    }
	//WebStepIndex();
}

function WifiOptimize()
{
   if (0 == wifi_status.wifienable)
   {
       alert(Xwifi5infoString[36]);   
   }
   else
   {
	   if (0 == basic.channel)  //auto mode
	   {
		  $("#wifioptimize_value").val("1");
		  $("#optimize_warning").show();
		  $("#btn_wifioptimize").attr("disabled", true);
		  $("#btn_wifioptimize").removeClass("btn").addClass("btn_gray");
		  $("#XForm").submit();    
	   }
	   else
	   {
		 alert(Xwifi5infoString[35]);
	   }
   }
}

//-------------setup triger--------------------
$(document).ready(function(){

	$("#ssid").change(function(){
		doSelectSsid();
	});
    
	$("#btn_wifioptimize").click(function(){
	    WifiOptimize();
	});
});

//Client contents ended.

//]]>
</script>
<% PrintTemplate2(); %>

		<div class="cfgstep">
			<p><strong id="XS0"></strong></p>
			<table>
			<tbody>
				<tr>
					<td width="200" id="XS5"></td>
					<td id="radio_en"></td>
				</tr>
				<tr id="ssid_name">
					<td width="200" id="XS2"></td>
					<td>
						<select name="ssid" id="ssid">
						</select>
					</td>
				</tr>
				<tr id="ssid_enable">
					<td width="200" id="XS8"></td>
					<td id="ssid_en"></td>
				</tr>
			</tbody>
			</table>
		</div>
		
        <div class="cfgstep">
			<p><strong id="XS34"></strong></p>
			<table>
			<tbody>
				<tr>
                    <div id="optimize_warning" height="40" style="display:none" name="hide">
                       <p><strong id="optimize_warning_message" style="color:red">Warning：The "Wi-Fi Optimize" will result in all Wi-Fi clients temporarily disconnected from Wi-Fi service.</strong></p>
				    </div>
                    <input id="wifioptimize_value" name="wifioptimize_value" type="hidden" value="" />
                </tr>
                <tr>
                    <a id="btn_wifioptimize" class="btn" href="#"><script>document.write(WebString.wifioptimize);</script></a>
			    </tr>
            </tbody>
			</table>
		</div>
        
		<div class="cfgstep" id="wifi_status_detail">
			<p><strong id="XS9"></strong></p>
			<table>
				<tr>
					<td id="XS13" width="200"></td>
					<td id="channel"></td>
				</tr>
				<tr>
					<td id="XS14" width="200"></td>
					<td id="secu_type"></td>
				</tr>
				<tr>
					<td id="XS15" width="200"></td>
					<td id="ssid_broadcast"></td>
				</tr>
				<tr>
					<td id="XS16" width="200"></td>
					<td id="mac_auth"></td>
				</tr>
				<tr>
					<td id="XS17" width="200"></td>
					<td id="wireless_mode"></td>
				</tr>
				<tr id="wifi_wps_state">
					<td id="XS18" width="200"></td>
					<td id="wps_state"></td>
				</tr>
				<tr id="wifi_wps_type">
					<td id="XS19" width="200"></td>
					<td id="wps_type"></td>
				</tr>
				<tr>
					<td id="XS20" width="200"></td>
					<td id="packets_sent"></td>
				</tr>
				<tr>
					<td id="XS21" width="200"></td>
					<td id="packets_received"></td>
				</tr>
			</table>
		</div>

<div class="cfgstep">
	<a id="btn_refresh" class="btn" href="wifi5info.html"><script type="text/javascript">document.write(WebString.Refresh);</script></a>
</div>

<% PrintTemplate3(); %>
