<% PrintTemplate1(); %>
<style type="text/css">

</style>

<script type="text/javascript">

var country = "";	
var wifi_enable = "";
var wifi_mode = "";
var channel_bandwidth = "";
var channel = "";
var power_level = "";
var max_clients = "";
var channel_list = new Array();
var wifi_ssid_security = new Array();
var ssid_enable = new Array();
var wifi_current_mode = "";
var wifi_multicast = "1";
var porttal_en = "";

<% WIFI_Basic_GetConfig(); %>
	
function WebInit()
{
	
    if (wifi_enable == '1')
		$("#wireless_enabled").attr("checked", true);
	else
		$("#wireless_disabled").attr("checked", true);
	
 	$("#wifi_mode").val(wifi_mode);
    wifi_current_mode = wifi_mode;
    selectWifiMode(wifi_current_mode);
    
    $("#channel_bandwidth").val(channel_bandwidth);

    $("#power_level").val(power_level);
    if (porttal_en == '0')
    {
        $("#max_clients_enable").hide();
        $("#wifi_multicast_enable").hide();
	}
	else
	{
	    $("#max_clients_enable").show();
        $("#max_clients").val(max_clients);
        $("#wifi_multicast_enable").show();
        if(wifi_multicast == '1')
            $("#wifi_multicast_on").attr("checked", true);
        else
            $("#wifi_multicast_off").attr("checked", true);
	}

	doWifiEn();
}

function doChannelSelect()
{
    var mode = $("#wifi_mode").val();
    var channel_str = "";
    for (var i = 0; i < channel_list.length; i++)
    {
        if (channel_list[i].channel == 0)
        {
            channel_str += "<option value=\"" +channel_list[i].channel + "\">"+ XwifibasicString[10] +"</option>";
        }
        else
        {
            if ((country == 2) && (mode != 5) && (channel_list[i].channel == 14))
            {
                continue;
            }
            channel_str += "<option value=\"" +channel_list[i].channel + "\">"+ channel_list[i].channel +"</option>";
        }
    }
    $("#channel").html(channel_str);
    set_select_val($("#channel"), channel);
}

function WebDoSubmit()
{
	var max_clients = $("#max_clients").val();
    if( max_clients < 0 || max_clients > 32)
    {
        alert(XwifibasicString[13]);
        return false;	
    } 
	$("#XForm").submit();
}

function doWifiEn()
{
	var enable = $("#wireless_enabled").attr("checked");
	if (enable == "checked")
	{
		$("#enabled").show();
	} 
	else 
	{
		$("#enabled").hide();
	}
	WebStepIndex();
}
	
$(document).ready(function () 
{
    $("input[name='wireless_radio']").click(function() {
		doWifiEn();
	});
	
	$("#btn_apply").click(function() {
		WebDoSubmit();
	});
});

function selectWifiMode(mode)
{
    var mode_conflict_flag = 0;
    var str = "";
	
    for (var i = 0; i < 4; i++)
    {
        if (ssid_enable[i] == 0)
        {
            continue;
        }
        
        if ((mode == "3") && (wifi_ssid_security[i] == 2)) //11n only && wep
        {
            alert(WebString.mode_security_conflict);
            $("#wifi_mode").val(wifi_current_mode);
            mode_conflict_flag = 1;
            break;
        }
    }

    if(mode == "0")
    {
        str += "<option value=0>" + "20M" + "</option>";
        str += "<option value=1>" + "40M" + "</option>";
    }
    else if(mode == "1")
    {
        str += "<option value=0>" + "20M" + "</option>";
        str += "<option value=1>" + "40M" + "</option>";
    }
    else if(mode == "3")
    {
        str += "<option value=0>" + "20M" + "</option>";
        str += "<option value=1>" + "40M" + "</option>";
    }
    else if(mode == "4")
    {
        str += "<option value=0>" + "20M" + "</option>";
    }
    else if(mode == "5")
    {
        str += "<option value=0>" + "20M" + "</option>";
    }

    $("#channel_bandwidth").html(str);
    $("#channel_bandwidth").val(channel_bandwidth);
    
    if (mode_conflict_flag == 1)
    {
        wifi_current_mode = wifi_current_mode;
    }
    else
    {
        wifi_current_mode = mode;
    }
    
	doChannelSelect();
	WebStepIndex();
}

</script>


<% PrintTemplate2(); %>

<div class="cfgstep">
    <p><strong id="XS0"></strong></p>
    <table>
		<tr>
	        <td width="200" id="XS1"></td>
	        <td><input name="wireless_radio" id="wireless_enabled" type="radio" value="1" checked="checked" /><script>document.write(WebString.Enable);</script>&nbsp;&nbsp;
	        	<input name="wireless_radio" id="wireless_disabled" type="radio" value="0" /><script>document.write(WebString.Disable);</script>
	        </td>
	    </tr>
	</table>
</div>  

<div id="enabled">
	<div class="cfgstep">
	    <p><strong id="XS2"></strong></p>
	    <table>
    		<tr>
    	    	<td width="200" id="XS3"></td>
    	        <td><select name="wifi_mode" id="wifi_mode" onchange="selectWifiMode(this.options[this.selectedIndex].value);">
    	        	<option value="0" selected="selected" class="extended">Auto(802.11b/g/n)</option>
    	            <option value="1">802.11g/n </option>
    	            <option value="3">802.11n Only </option>
    	            <option value="4">802.11g Only </option>
    	            <option value="5">802.11b Only </option>
    	            </select>
    	        </td>
    	    </tr>
    	</table>
    </div>
	
	<div class="cfgstep" id="config_channelBW">
	    <p><strong id="XS4"></strong></p>
    	<table>
    	    <tr>
    	        <td width="200" id="XS5"></td>
    	        <td><select name="channel_bandwidth" id="channel_bandwidth">
    				<!--option value="0">20M </option>
    				<option value="1">Auto(20M/40M) </option-->
    	            </select>
    	        </td>
    	    </tr>
    	</table>
    </div>   
	
	<div class="cfgstep"> 
    	<p><strong id="XS6"></strong></p>
    	<table>
    		<tr>
    			<td width="200" id="XS7"></td>
    	        <td>
    	        	<!--
    	        	<select name="channel" id="channel">
    	        	<option value="0" selected="selected">Auto Detect </option>
    	            <option value="1">1 </option>
    	            <option value="2">2 </option>
    	            <option value="3">3 </option>
    	            <option value="4">4 </option>
    	            <option value="5">5 </option>
    	            <option value="6">6 </option>
    	            <option value="7">7 </option>
    	            <option value="8">8 </option>
    	            <option value="9">9 </option>
    	            <option value="10">10 </option>
    	            <option value="11">11 </option>
    	            </select>
    	            -->
    	            <select name="channel" id="channel">
    	            </select>
    	        </td>
    	    </tr>
    	</table>
	</div>

    <div class="cfgstep">
    	<p><strong id="XS8"></strong></p>
        <table>
        	<tr>
            	<td width="200" id="XS9"></td>
                <td><select name="power_level" id="power_level">
                	<option value="0" selected="selected">100% </option>
                	<option value="1">75% </option>
                	<option value="2">50% </option>
                	<option value="3">25% </option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="cfgstep" id="max_clients_enable" style="display:none">
    	<p><strong id="XS11"></strong></p>
        <table>
        	<tr>
            	<td width="200" id="XS12"></td>
                <td>
    				<input name="max_clients" id="max_clients" type="text" maxlength="2" size="6" onkeypress="return OnKeyPress(event, X_INPUT_NUM);"/>
                </td>
            </tr>
        </table>
    </div>

    <div class="cfgstep" id="wifi_multicast_enable" style="display:none">
        <p><strong id="XS14"></strong></p>
        <table>
    		<tr>
    	        <td width="200" id="XS15"></td>
    	        <td><input name="wifi_multicast" id="wifi_multicast_on" type="radio" value="1" checked="checked" /><script>document.write(WebString.Enable);</script>&nbsp;&nbsp;
    	        	<input name="wifi_multicast" id="wifi_multicast_off" type="radio" value="0" /><script>document.write(WebString.Disable);</script>
    	        </td>
    	    </tr>
    	</table>
    </div>
</div>
		
<div class="cfgstep">
	<p><strong><script>document.write(WebString.stepApply);</script></strong></p>
	<a href="#" id="btn_apply" class="btn"><script>document.write(WebString.Apply);</script></a>
</div>
<% PrintTemplate3(); %>
