<% PrintTemplate1(); %>

<style type="text/css">
#content_right .mlist table th {
    text-align:left;
    padding-left: 0px;
    font-size: 10px;
}

#content_right .mlist table td {
    text-align:left;
    padding-left: 0px;
    font-size: 8px;
}
</style>
<script type="text/javascript">


//<![CDATA[

var pptpd_enable = 0;
var local_ip = "";
var start_ip = "";
var end_ip = "";
var pptpdData = new Array();
var pptpd_list = new Array();
var mppe128_enable = 0;
var lan_ip = "";
var lan2_ip = "";
var lan_netmask = "";
var lan2_netmask = "";
var pptp_clients_list = new Array();
var pptp_clients = new Array();

<% Pptpd_GetConfig(); %>

function FreshDeviceList()
{
	var value = "";
    var TR = "";  
	
    //alert("pptp_clients num  : " + pptp_clients.length);
 	TR += "<div class=\'mlist\'>";
 	TR += "<table id='pptpdclientslistTable'>";
	TR += '<tr>';
    TR += '<th colspan="10" class="tableTitle">' + 'VPN client information' +'</th>\n';
 	TR += '</tr>\n';
	TR += '<tr>\n';
    TR += '<th>' + 'VPN' +'</th>\n';
	TR += '<th>' + 'Type' +'</th>\n';
	TR += '<th>' + 'Remote IP' +'</th>\n';
	TR += '<th>' + 'Virtual Network' +'</th>\n';
	TR += '<th>' + 'rxPkts' +'</th>\n';
	TR += '<th>' + 'rxRate (kbps)' +'</th>\n';
	TR += '<th>' + 'txPkts' +'</th>\n';
	TR += '<th>' + 'txRate (kbps)' +'</th>\n';
	TR += '<th>' + 'UpTime' +'</th>\n';
	TR += '<th>' + WebString.Action +'</th>\n';
	TR += '</tr>\n';
	if(pptp_clients.length == 0){
		TR += '</table>\n';
		TR += '</div>\n';
		$("#pptp_clientsDiv").html(TR);
        $("#remove_flag_value").val(0);
		return;
	}else{
		$.each(pptp_clients_list, function(id, el){
                //alert("pptp_clients_value  : " + value); 
				TR += '<tr>\n';	
				TR += '<td >' + parseInt(id + 1)  + '</td>\n';
				TR += '<td >' + el.VPNType + '</td>\n';
                TR += '<td >' + el.wanAppName + '</td>\n';
				TR += '<td >' + el.srcIp + '/32' + '</td>\n';
				TR += '<td >' + el.rxPkts + '</td>\n';
				TR += '<td >' + el.rxRate + '</td>\n';
				TR += '<td >' + el.txPkts + '</td>\n';
				TR += '<td >' + el.txRate + '</td>\n';
	            TR += '<td >' + el.uptime + '</td>\n';
				TR += '<td >' + '<a href="#" class="btn remove_btn" >' + WebString.Drop + '</a></td>\n';
				TR += '</tr>\n';
		});
		
		TR += '</table>\n';
		TR += '</div>\n';
	}

 	//$("#pptp_clients_value").val(value);
	$("#pptp_clientsDiv").html(TR);
    $("#remove_flag_value").val(0);
      
	$(".remove_btn").click(function(){
		if (!confirm(WebString.delete_confirm))
		{
			return;
		}
    
		var row = this.parentNode.parentNode.rowIndex;
        //alert("row = " + row);
        value = pptp_clients_list[row-2].appName;
        $("#pptp_clients_value").val(value);

		pptp_clients_list[row-2] = pptp_clients_list[pptp_clients_list.length-1];
		pptp_clients_list.pop();
	    FreshDeviceList();
        $("#remove_flag_value").val(1);
		XDoSubmit();
	});	

}

function setPptpClientList()
{
	var i;

    //alert("call setPptpClientList");
	for (i = 0; i < pptp_clients.length; i++)
    {
 	  var obj = new Object();
	  obj.VPNType = pptp_clients[i].VPNType;
	  obj.srcIp = pptp_clients[i].srcIp;
	  obj.pppoeAccount = pptp_clients[i].pppoeAccount;
	  obj.wanAppName = pptp_clients[i].wanAppName;
	  obj.appName = pptp_clients[i].appName;
	  obj.uptime = pptp_clients[i].uptime;
	  obj.rxPkts = pptp_clients[i].rxPkts;
 	  obj.txPkts = pptp_clients[i].txPkts;
 	  obj.rxRate = pptp_clients[i].rxRate;
	  obj.txRate = pptp_clients[i].txRate;
    //alert('id: ' + i + '  srcIP: ' +  obj.srcIp + '   pppoeAccount: ' + obj.pppoeAccount);
	  pptp_clients_list.push(obj);
  
    }
	FreshDeviceList();
}

function DataInit()
{
    if (1 == pptpd_enable)
        $("#pptpd_enable").attr("checked", true);
    else
        $("#pptpd_disable").attr("checked", true);

    if (1 == mppe128_enable)
        $("#mppe128_enable").attr("checked", true);
    else
        $("#mppe128_disable").attr("checked", true);
		
    $("#start_ip").val(start_ip);
    $("#end_ip").val(end_ip);
    $("#local_ip").val(local_ip);	
}

function BindPptpdValue()
{
    this.username;
    this.password;
}

function InitTable()
{
    var i;
    for(i = 0; i < pptpd_list.length; i++)    
    {              
        pptpdData[i]=new BindPptpdValue();
        pptpdData[i].username = pptpd_list[i].username;
        pptpdData[i].password = pptpd_list[i].password;
    }
}

function PptpdTableFresh()
{
    var TR = "";
    TR += '<table id="PptpdTable" class="commonlist">\n';
    TR += '<tr>\n';
    TR += '<th style="width: 15%;">' + XpptpdString[9] + '</th>\n';
    TR += '<th style="width: 25%;">' + XpptpdString[10] + '</th>\n';
    TR += '<th style="width: 25%;">' + XpptpdString[11] + '</th>\n';
    TR += '<th style="width: 15%;">' + WebString.Edit + '</th>\n';
    TR += '</tr>\n';
    var post_str=""; 

    for (var i = 0; i < pptpdData.length; i++)
    {
        var username = pptpdData[i].username;         
        var password = pptpdData[i].password;


        post_str += (i+1) + "|" + username + "|" + password + "~";

        TR += '<tr>\n';
        TR += '<td style="word-break : break-all;">' + (i+1) + '</td>\n';		
        TR += '<td style="word-break : break-all;">' + username + '</td>\n';
        TR += '<td style="word-break : break-all;">' + "****" + '</td>\n';
        TR += '<td><a href="#" class="btn remove_btn" onclick="DeleteOption(this);" >' + WebString.Remove + '</a></td>';
        TR += '</tr>\n';        
    }  
	
    TR += '</table>\n';
    $("#PptpdCfgContainer").html(TR);
    $("#pptpdcfgvalue").val(post_str);

    WebStyleCommonList();
}

function DeleteOption(r)
{
    WebResetTimer();

    var row = r.parentNode.parentNode.rowIndex;
    var len = pptpdData.length;
    for (var i = row-1; i < pptpdData.length; i++ )
    {
        pptpdData[i] = pptpdData[i+1];
    }
    pptpdData.pop();
    PptpdTableFresh();
}

function PptpdDataBind()
{
    WebResetTimer();

    var username = $("#pptpd_username").val();
    var password = $("#pptpd_password").val();
    var obj = new Object();

    if(pptpdData.length >= 8)
    {
        alert(WebString.pptpd_max_num);
        return false;
    } 
    if(username.length < 1 || username.length > 63 || false == isValidVpnUsername(username))
    {
        alert(WebString.pptpd_no_username);
        return false;
    }	
	
    if(password.length < 1 || password.length > 63 || false == isValidVpnPassword(password))
    {
        alert(WebString.pptpd_no_password);
        return false;
    }

    for (var i = 0; i < pptpdData.length; i++ )
    {
        if(username == pptpdData[i].username)
        {
            alert(WebString.pptpd_same_user);
            return false;
        }
    }
        
    obj.username = username;
    obj.password = password;

    pptpdData.push(obj);

    PptpdTableFresh();
}

function WebInit()
{
    DataInit(); 
	InitTable();
    PptpdEnable();
	PptpdTableFresh();
    WebStepIndex();
    setPptpClientList(); 
    //setTimeout(function(){window.location.reload(true);}, 30000);

}

function PptpdEnable()
{
    var lcl_val = $('input:radio[name="pptpd_enable"]:checked').val();

    if(1 == lcl_val)
    {
        $("#default_addr_range_div").show();
        $("#local_address_div").show();	
        $("#cfg_div").show();
        $("#encryption_div").show();
        $("#pptp_clientsDiv").show();
        $("#btn_refresh_Div").show();
    }
    else
    {
        $("#default_addr_range_div").hide();
        $("#local_address_div").hide();			
		$("#cfg_div").hide();
		$("#encryption_div").hide(); 
        $("#pptp_clientsDiv").hide();
        $("#btn_refresh_Div").hide();
	}
	
    WebStepIndex();     
}



$(document).ready(function (){
	$("input").css("ime-mode","disabled");
    $("#btn_apply").click(function(){
        XDoSubmit();
    });   

    $("input[name='pptpd_enable']").click(function() {
        PptpdEnable();
		//if(1 == $('input:radio[name="pptpd_enable"]:checked').val())		
		//	alert(WebString.pptpd_change);
    });
	
    $("#addpptpd").click(function(){
        PptpdDataBind();
    });

	$("#btn_refresh").click(function() {
		window.location.reload(true);
	});
       
});

function CheckSetValue()
{
    if(1 == $('input:radio[name="pptpd_enable"]:checked').val())
    {
	    var len = pptpdData.length;	
        var n_lan_ip = Ip2Num(lan_ip) >>> 0;
        var n_lan_ip2 = Ip2Num(lan2_ip) >>> 0;		
        var n_lan_mask = Ip2Num(lan_netmask) >>> 0;
        var n_lan2_mask = Ip2Num(lan2_netmask) >>> 0;		
        var n_ip_local = Ip2Num($("#local_ip").val()) >>> 0;
        var n_ip_start = Ip2Num($("#start_ip").val()) >>> 0;
        var n_ip_end = Ip2Num($("#end_ip").val()) >>> 0;
        var n_subnet = (n_lan_ip & n_lan_mask);	
        var n_subnet2 = (n_lan_ip2 & n_lan2_mask);			

		if(0 == len)		
		{
			alert(WebString.pptpd_no_cfgvalue);
			return false;
		}		

        if( !isValidUnicastIpAddress($("#start_ip").val(),lan_netmask) ||
            !isValidUnicastIpAddress($("#end_ip").val(),lan_netmask) ||
            !isValidUnicastIpAddress($("#local_ip").val(),lan_netmask)) 
        {
            alert(WebString.ip_alert);
            return false;
        }

		if (((n_ip_local & n_lan_mask) == n_subnet) || ((n_ip_start & n_lan_mask) == n_subnet) || ((n_ip_end & n_lan_mask) == n_subnet))
        {
            alert(WebString.pptpd_same_subnet_alert); // must not in the same subnet with LAN ip
            return false;
        }
		
		if (((n_ip_local & n_lan_mask) == n_subnet2) || ((n_ip_start & n_lan_mask) == n_subnet2) || ((n_ip_end & n_lan_mask) == n_subnet2))
        {
            alert(WebString.pptpd_same_subnet_alert); // must not in the same subnet with LAN ip(192.168.0.x)
            return false;
        }
		
		if (((n_ip_local & n_lan_mask) != (n_ip_start & n_lan_mask)) || ((n_ip_local & n_lan_mask) != (n_ip_end & n_lan_mask)))
        {
            alert(WebString.pptpd_different_subnet_alert); // must in the same subnet
            return false;
        }

        if (!((n_ip_local < n_ip_start)  && (n_ip_start <= n_ip_end))) {
            alert(WebString.pptpd_ip_not_valid);
            return false;
        }

	}
   
    return true;
}

function WebDoSubmit()
{       
    if( false == CheckSetValue())
    {
       return;
    }

    $("#XForm").submit();
}

//]]>
</script>
<% PrintTemplate2(); %>
<input id="pptp_clients_value" name="pptp_clients_value" type="hidden" value="" />
<input id="remove_flag_value" name="remove_flag_value" type="hidden" value="" />

<div class="cfgstep">
    <p><strong id="XS0"></strong></p>
    <table>
        <tr>
            <td width="200" id="XS1"></td>
            <td><input type="radio" name="pptpd_enable" id="pptpd_enable" value="1" /><script>document.write(WebString.Enable);</script>&nbsp;&nbsp;
                <input type="radio" name="pptpd_enable" id="pptpd_disable" value="0" checked/><script>document.write(WebString.Disable);</script>
            </td>
        </tr>
    </table>
</div>

<div id="default_addr_range_div" class="cfgstep">
    <p><strong id="XS2"></strong></p>
    <table>
        <tr>	
            <td id="XS13"></td>	
            <td><input type="text" name="local_ip" id="local_ip" /></td>
        </tr>	
        <tr>			
            <td id="XS3"></td>
            <td><input type="text" name="start_ip" id="start_ip" /></td>
        </tr>
        <tr>
            <td id="XS4"></td>
            <td><input type="text" name="end_ip" id="end_ip" /></td>
        </tr>
    </table>
</div>

<div id="cfg_div" class="cfgstep" style="display:none">
    <p><strong id="XS5"></strong></p>
    <table >
        <tr id="username">
            <td width="200" id="XS6"></td>
            <td><input type="text"  id="pptpd_username" name="pptpd_username" maxlength="63" />
            </td>
        </tr>
        <tr id="passward">
            <td width="200" id="XS7"></td>
            <td><input type="password"  id="pptpd_password" name="pptpd_password" maxlength="63" />
            </td>
        </tr>

        <tr id="pptpd_add">
            <td colspan="5">                
                <span id="XS8"></span>
                <a id="addpptpd" name="addpptpd" class="btn" href="#"/><script>document.write(WebString.Add);</script></a>
                <input id="pptpdcfgvalue" name="pptpdcfgvalue" type="hidden" value=""  />
            </td>
        </tr>
    </table>
    <div id="PptpdCfgContainer"></div>
</div>

<div  id="encryption_div" class="cfgstep" style="display:none">
    <p><strong id="XS14"></strong></p>
    <table>
        <tr>
            <td width="200" id="XS15"></td>
            <td><input type="radio" name="mppe128_enable" id="mppe128_enable" value="1" /><script>document.write(WebString.Enable);</script>&nbsp;&nbsp;
                <input type="radio" name="mppe128_enable" id="mppe128_disable" value="0" checked/><script>document.write(WebString.Disable);</script>
            </td>
        </tr>
    </table>
</div>

<div class="cfgstep">
    <p><strong><script>document.write(WebString.stepApply);</script></strong></p>
    <a id="btn_apply" class="btn" href="#"><script>document.write(WebString.Apply);</script></a>
</div>

<div id="pptp_clientsDiv" class="cfglist" style="display:none"></div>

<div class="cfgstep" id="btn_refresh_Div" style="display:none" >
	<a id="btn_refresh"  class="btn" href="#"><script type="text/javascript">document.write(WebString.Refresh);</script></a>
</div>

<% PrintTemplate3(); %>
